@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Red Hat Display", sans-serif;
}

body {
  background-color: hsl(180, 12%, 8%);
  overflow-x: hidden;
  position: relative;
}

header {
  position: sticky;
  top: 0;
  z-index: 4;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: hsl(180, 4%, 98%);
  margin-bottom: 6%;
  padding: 1% 7%;
}
header nav .logo {
  display: flex;
  align-items: center;
}
header nav .logo img {
  width: 12%;
  height: 80%;
  margin-right: 3%;
}
header nav .logo p {
  font-size: 1.2rem;
  font-weight: 800;
}
header nav .logo p:hover {
  cursor: pointer;
}
header nav .nav-menu {
  display: flex;
  width: 60%;
}
header nav .nav-menu ul {
  display: flex;
  width: 80%;
  gap: 15%;
}
header nav .nav-menu ul li {
  list-style-type: none;
  display: flex;
  align-items: center;
}
header nav .nav-menu ul li a {
  text-decoration: none;
  color: hsl(180, 4%, 98%);
}
header nav .nav-menu ul li a:hover {
  color: hsl(79, 72%, 55%);
  transition: ease-out 0.15s;
}
header nav .nav-menu button {
  all: unset;
  color: black;
  font-weight: 800;
  text-align: center;
  padding: 0.9rem 0.9rem;
  width: 8.2rem;
  border-radius: 3px;
  background-color: white;
}
header nav .nav-menu button:hover {
  cursor: pointer;
  transition: ease-out 0.2s;
}
header nav .nav-menu button:hover {
  background-color: hsl(79, 72%, 55%);
}
header nav .nav-menu button:active {
  background-color: white;
  transition-duration: 0s;
}

main {
  padding: 0 7%;
  width: 100%;
}
main .home {
  height: 90vh;
  width: 100%;
  position: relative;
}
main .home .home-left {
  width: 55%;
  height: 100%;
  z-index: 2;
}
main .home .home-left h1 {
  color: hsl(180, 4%, 98%);
  width: 100%;
  font-weight: 900;
  font-size: 5.8rem;
  margin-bottom: 4%;
}
main .home .home-left h1 span {
  -webkit-text-stroke: 0.05rem hsl(180, 4%, 98%);
  color: transparent;
}
main .home .home-left h1 span {
  font-size: 3.6rem;
}
main .home .home-left p {
  color: hsl(180, 4%, 72%);
  width: 70%;
  line-height: 1.5rem;
  margin-bottom: 8%;
}
main .home .home-left button {
  all: unset;
  color: black;
  font-weight: 800;
  text-align: center;
  padding: 0.9rem 0.9rem;
  width: 8.2rem;
  border-radius: 3px;
  background-color: hsl(79, 72%, 55%);
  display: flex;
  align-items: center;
  justify-content: space-around;
}
main .home .home-left button:hover {
  cursor: pointer;
  transition: ease-out 0.2s;
}
main .home .home-left button:hover .arrow-right {
  transform: translateX(40%);
  transition: transform ease-out 0.15s;
}
main .home .home-left button:active {
  background-color: white;
  transition-duration: 0s;
}
main .home .home-right {
  width: 60%;
  height: 100%;
  position: absolute;
  right: -8%;
  bottom: 0;
}
main .home .home-right img {
  width: 100%;
  height: 100%;
}
main .home .home-right .triangle {
  background-color: hsl(79, 63%, 50%);
  width: 125%;
  height: 180%;
  position: absolute;
  z-index: -1;
  right: -3%;
  bottom: 0;
  -webkit-clip-path: polygon(100% 12%, 5% 100%, 100% 100%);
          clip-path: polygon(100% 12%, 5% 100%, 100% 100%);
}

main .partner-logo {
  display: flex;
  justify-content: space-around;
  margin: 5% 0;
}
main .partner-logo img {
  width: 16%;
}

main .program h1 {
  font-family: "Kaushan Script", cursive;
  color: hsl(79, 72%, 55%);
  font-weight: 500;
  font-size: 2.4rem;
  text-align: center;
}
main .program h2 {
  color: hsl(180, 4%, 98%);
  text-align: center;
  font-size: 2.8rem;
  margin: 1% 0 5% 0;
}
main .program h2 span {
  -webkit-text-stroke: 0.05rem hsl(180, 4%, 98%);
  color: transparent;
}

main .program {
  margin-bottom: 10%;
}
main .program .program-types {
  display: flex;
  justify-content: space-between;
  height: 50vh;
}
main .program .program-types div {
  height: 100%;
  background-color: hsl(180, 5%, 12%);
  width: 22%;
  padding: 2.8%;
  border-radius: 3px;
  position: relative;
}
main .program .program-types div:hover {
  background-color: hsl(79, 72%, 55%);
  transition: all ease-out 0.2s;
}
main .program .program-types div:hover h3,
main .program .program-types div:hover p {
  color: hsl(180, 5%, 12%);
}
main .program .program-types div .program-image-container {
  width: 50px;
  height: 50px;
  margin-bottom: 3%;
  background-color: hsl(82, 6%, 64%);
  border-radius: 500px;
  padding: 3%;
}
main .program .program-types div .program-image-container img {
  width: 100%;
}
main .program .program-types div h3 {
  color: hsl(180, 4%, 98%);
  margin: 8% 0 10% 0;
  font-size: 1.4rem;
}
main .program .program-types div p {
  color: hsl(180, 4%, 72%);
  font-weight: 500;
}
main .program .program-types div .arrow-right-gray {
  all: unset;
  background-image: url("../img/arrow-right-gray.png");
  background-size: cover;
  width: 12%;
  height: 10%;
  position: absolute;
  right: 10%;
  bottom: 5%;
}
main .program .program-types div .arrow-right-gray:hover {
  cursor: pointer;
  transform: translateX(40%);
  transition: transform ease-out 0.15s;
}

main .choose-us {
  height: 80vh;
  display: flex;
  margin-bottom: 10%;
}
main .choose-us .choose-us-left {
  height: 100%;
  width: 50%;
  position: relative;
  overflow: hidden;
}
main .choose-us .choose-us-left img {
  height: 100%;
  margin-left: 11%;
  z-index: 2;
  position: inherit;
}
main .choose-us .choose-us-left .triangle-second {
  background-color: hsl(79, 63%, 50%);
  -webkit-clip-path: polygon(0 0, 0% 100%, 85% 100%);
          clip-path: polygon(0 0, 0% 100%, 85% 100%);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 140%;
}

main .choose-us .choose-us-right {
  width: 50%;
  height: 100%;
  padding: 6% 0;
}
main .choose-us .choose-us-right h1 {
  font-family: "Kaushan Script", cursive;
  color: hsl(79, 72%, 55%);
  font-weight: 500;
}
main .choose-us .choose-us-right h2 {
  color: hsl(180, 4%, 98%);
  font-size: 3rem;
}
main .choose-us .choose-us-right h2 span {
  -webkit-text-stroke: 0.05rem hsl(180, 4%, 98%);
  color: transparent;
}
main .choose-us .choose-us-right p {
  width: 75%;
  color: hsl(180, 4%, 72%);
  font-weight: 500;
  margin: 5% 0;
}

main .choose-us .choose-us-right .achievements {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 80%;
  row-gap: 5%;
}
main .choose-us .choose-us-right .achievements div p {
  width: 100%;
}
main .choose-us .choose-us-right .achievements div p span {
  font-family: "Kaushan Script", cursive;
  font-size: 2rem;
  color: white;
}

.pricing-page {
  padding: 3% 7%;
}
.pricing-page h1 {
  font-family: "Kaushan Script", cursive;
  color: hsl(79, 72%, 55%);
  font-weight: 500;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 0.5%;
}
.pricing-page h2 {
  color: hsl(180, 4%, 98%);
  text-align: center;
  font-size: 2.8rem;
  margin-bottom: 8%;
}
.pricing-page h2 span {
  -webkit-text-stroke: 0.05rem hsl(180, 4%, 98%);
  color: transparent;
}

.pricing-page .packages {
  display: flex;
  justify-content: space-around;
  height: 80vh;
}
.pricing-page .packages .basic {
  width: 28%;
  padding: 3% 4%;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: hsl(180, 5%, 12%);
}
.pricing-page .packages .basic .pricing-image-container {
  width: 50px;
  height: 50px;
  background-color: hsl(82, 6%, 64%);
  padding: 4.5%;
  border-radius: 500px;
}
.pricing-page .packages .basic .pricing-image-container img {
  width: 100%;
}
.pricing-page .packages .basic h3 {
  font-size: 1.3rem;
}
.pricing-page .packages .basic .price {
  font-size: 2rem;
  font-weight: 700;
}
.pricing-page .packages .basic .offer {
  margin: 10% 0 5% 0;
}
.pricing-page .packages .basic .offer p {
  background-position: left;
  background-repeat: no-repeat;
  background-size: 20px;
  padding-left: 13%;
  margin-bottom: 6%;
  font-weight: 500;
}
.pricing-page .packages .basic button {
  all: unset;
  width: 100%;
  background-color: hsl(180, 4%, 98%);
  display: flex;
  align-items: center;
  justify-content: center;
  color: hsl(180, 5%, 12%);
  height: 15%;
  font-size: 1rem;
  font-weight: 700;
  gap: 5%;
  border-radius: 3px;
}
.pricing-page .packages .basic button img {
  width: 10%;
}
.pricing-page .packages .basic button:hover {
  cursor: pointer;
}
.pricing-page .packages .basic button:hover img {
  transform: translateX(50%);
  transition: transform ease-out 0.15s;
}
.pricing-page .packages .basic button:active {
  background-color: hsl(79, 72%, 55%);
  transition-duration: 0s;
}
.pricing-page .packages .basic h3 {
  color: hsl(82, 6%, 64%);
}
.pricing-page .packages .basic .price {
  color: hsl(180, 4%, 98%);
}
.pricing-page .packages .basic .offer p {
  color: hsl(82, 6%, 64%);
  background-image: url("../img/checkmark-in-circle.png");
}
.pricing-page .packages .basic .offer p:nth-child(3),
.pricing-page .packages .basic .offer p:nth-child(4),
.pricing-page .packages .basic .offer p:nth-child(5) {
  opacity: 0.2;
}
.pricing-page .packages .premium {
  width: 28%;
  padding: 3% 4%;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: hsl(79, 72%, 55%);
}
.pricing-page .packages .premium .pricing-image-container {
  width: 50px;
  height: 50px;
  background-color: hsl(82, 6%, 64%);
  padding: 4.5%;
  border-radius: 500px;
}
.pricing-page .packages .premium .pricing-image-container img {
  width: 100%;
}
.pricing-page .packages .premium h3 {
  font-size: 1.3rem;
}
.pricing-page .packages .premium .price {
  font-size: 2rem;
  font-weight: 700;
}
.pricing-page .packages .premium .offer {
  margin: 10% 0 5% 0;
}
.pricing-page .packages .premium .offer p {
  background-position: left;
  background-repeat: no-repeat;
  background-size: 20px;
  padding-left: 13%;
  margin-bottom: 6%;
  font-weight: 500;
}
.pricing-page .packages .premium button {
  all: unset;
  width: 100%;
  background-color: hsl(180, 4%, 98%);
  display: flex;
  align-items: center;
  justify-content: center;
  color: hsl(180, 5%, 12%);
  height: 15%;
  font-size: 1rem;
  font-weight: 700;
  gap: 5%;
  border-radius: 3px;
}
.pricing-page .packages .premium button img {
  width: 10%;
}
.pricing-page .packages .premium button:hover {
  cursor: pointer;
}
.pricing-page .packages .premium button:hover img {
  transform: translateX(50%);
  transition: transform ease-out 0.15s;
}
.pricing-page .packages .premium button:active {
  background-color: hsl(79, 72%, 55%);
  transition-duration: 0s;
}
.pricing-page .packages .premium h3,
.pricing-page .packages .premium .price,
.pricing-page .packages .premium p {
  color: hsl(180, 5%, 12%);
}
.pricing-page .packages .premium .offer p {
  background-image: url("../img/checkmark-in-circle-2.png");
}
.pricing-page .packages .premium .offer p:nth-child(4),
.pricing-page .packages .premium .offer p:nth-child(5) {
  opacity: 0.3;
}
.pricing-page .packages .diamond {
  width: 28%;
  padding: 3% 4%;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: hsl(180, 5%, 12%);
}
.pricing-page .packages .diamond .pricing-image-container {
  width: 50px;
  height: 50px;
  background-color: hsl(82, 6%, 64%);
  padding: 4.5%;
  border-radius: 500px;
}
.pricing-page .packages .diamond .pricing-image-container img {
  width: 100%;
}
.pricing-page .packages .diamond h3 {
  font-size: 1.3rem;
}
.pricing-page .packages .diamond .price {
  font-size: 2rem;
  font-weight: 700;
}
.pricing-page .packages .diamond .offer {
  margin: 10% 0 5% 0;
}
.pricing-page .packages .diamond .offer p {
  background-position: left;
  background-repeat: no-repeat;
  background-size: 20px;
  padding-left: 13%;
  margin-bottom: 6%;
  font-weight: 500;
}
.pricing-page .packages .diamond button {
  all: unset;
  width: 100%;
  background-color: hsl(180, 4%, 98%);
  display: flex;
  align-items: center;
  justify-content: center;
  color: hsl(180, 5%, 12%);
  height: 15%;
  font-size: 1rem;
  font-weight: 700;
  gap: 5%;
  border-radius: 3px;
}
.pricing-page .packages .diamond button img {
  width: 10%;
}
.pricing-page .packages .diamond button:hover {
  cursor: pointer;
}
.pricing-page .packages .diamond button:hover img {
  transform: translateX(50%);
  transition: transform ease-out 0.15s;
}
.pricing-page .packages .diamond button:active {
  background-color: hsl(79, 72%, 55%);
  transition-duration: 0s;
}
.pricing-page .packages .diamond h3 {
  color: hsl(82, 6%, 64%);
}
.pricing-page .packages .diamond .price {
  color: hsl(180, 4%, 98%);
}
.pricing-page .packages .diamond .offer p {
  color: hsl(82, 6%, 64%);
  background-image: url("../img/checkmark-in-circle.png");
}/*# sourceMappingURL=style.css.map */