@use "global";

// <==================== MIXINS ====================>

@mixin button {
  all: unset;
  color: black;
  font-weight: 800;
  text-align: center;
  padding: 0.9rem;
  width: 8.2rem;
  border-radius: 3px;
  &:hover {
    cursor: pointer;
    transition: ease-out 0.2s;
  }
}

@mixin white-heading {
  color: global.$title-color;
  span {
    -webkit-text-stroke: 0.05rem global.$title-color;
    color: transparent;
  }
}

@mixin green-heading {
  font-family: global.$second-font;
  color: global.$first-color;
  font-weight: 500;
}

@mixin pricing-all-packages {
  @media only screen and (max-width: 1140px) {
    height: 31%;
    width: 38%;
  }
  @media only screen and (max-width: 980px) {
    width: 45%;
  }
  @media only screen and (max-width: 850px) {
    width: 52%;
    padding: 5% 7%;
  }
  @media only screen and (max-width: 750px) {
    width: 60%;
  }
  @media only screen and (max-width: 530px) {
    width: 70%;
  }
  @media only screen and (max-width: 470px) {
    width: 76%;
  }
  @media only screen and (max-width: 400px) {
    width: 83%;
    padding: 8% 9%;
  }
  @media only screen and (max-width: 350px) {
    height: 29%;
  }
  width: 28%;
  padding: 3% 4%;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .pricing-image-container {
    @media only screen and (max-width: 1140px) {
      padding: 2.6%;
    }
    @media only screen and (max-width: 400px) {
      padding: 4%;
    }
    width: 50px;
    height: 50px;
    background-color: global.$first-color-gray;
    padding: 4.5%;
    border-radius: 500px;
    img {
      width: 100%;
    }
  }
  h3 {
    @media only screen and (max-width: 320px) {
      font-size: 1.1rem;
    }
    font-size: 1.3rem;
  }
  .price {
    @media only screen and (max-width: 320px) {
      font-size: 1.6rem;
    }
    font-size: 2rem;
    font-weight: 700;
  }
  .offer {
    @media only screen and (max-width: 470px) {
      margin: 6% 0 2% 0;
    }
    margin: 10% 0 5% 0;
    p {
      @media only screen and (max-width: 470px) {
        font-size: 0.9rem;
      }
      @media only screen and (max-width: 400px) {
        margin-bottom: 4%;
      }
      background-position: left;
      background-repeat: no-repeat;
      background-size: 20px;
      padding-left: 13%;
      margin-bottom: 6%;
      font-weight: 500;
    }
  }

  button {
    all: unset;
    width: 100%;
    background-color: global.$title-color;
    display: flex;
    align-items: center;
    justify-content: center;
    color: global.$title-color-black;
    height: 15%;
    font-size: 1rem;
    font-weight: 700;
    gap: 5%;
    border-radius: 3px;
    img {
      width: 10%;
    }
    &:hover {
      cursor: pointer;
      img {
        @media only screen and (max-width: 800px) {
          transform: unset;
          transition: unset;
        }
        transform: translateX(50%);
        transition: transform ease-out 0.15s;
      }
    }
    &:active {
      @media only screen and (max-width: 800px) {
        img {
          transform: translateX(50%);
        }
      }
      background-color: global.$first-color;
      transition-duration: 0s;
    }
  }
}

@mixin pricing-gray-packages {
  background-color: global.$title-color-black;
  h3 {
    color: global.$first-color-gray;
  }
  .price {
    color: global.$title-color;
  }
  .offer {
    p {
      color: global.$first-color-gray;
      background-image: url("../img/checkmark-in-circle.png");
    }
  }
}

@mixin input {
  input {
    all: unset;
    color: global.$text-color;
    width: 100%;
    &::placeholder {
      color: global.$text-color;
      font-weight: 500;
    }
  }
}
// <============================= BODY =============================>

body {
  background-color: global.$body-color;
  overflow-x: hidden;
}

// <============================= HEADER =============================>

header {
  position: fixed;
  top: 0;
  padding: 0.5% 0;
  z-index: 20;
  width: 100%;
  transition: all ease-out 0.5s;
  nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: global.$title-color;
    padding: 1% 7%;
    .logo {
      display: flex;
      align-items: center;
      img {
        width: 12%;
        height: 80%;
        margin-right: 3%;
        &:hover {
          cursor: pointer;
        }
      }
      p {
        font-size: 1.2rem;
        font-weight: 800;
        &:hover {
          cursor: pointer;
        }
      }
    }
    .nav-menu {
      display: flex;
      justify-content: space-between;
      width: 60%;
      .nav-menu-exit-button {
        all: unset;
        background-image: url("../img/output-onlinepngtools.png");
        background-size: cover;
        width: 20px;
        height: 20px;
        display: none;
        &:hover {
          cursor: pointer;
        }
      }
      ul {
        display: flex;
        width: 80%;
        gap: 15%;
        li {
          list-style-type: none;
          display: flex;
          align-items: center;
          a {
            text-decoration: none;
            color: global.$title-color;
            &:hover {
              color: global.$first-color;
              transition: ease-out 0.15s;
            }
          }
        }
      }
      .register-button {
        @include button;
        background-color: white;
        &:hover {
          background-color: global.$first-color;
        }
        &:active {
          background-color: white;
          transition-duration: 0s;
        }
      }
    }
    .nav-menu-open-button {
      all: unset;
      background-image: url("../img/download.svg");
      background-size: cover;
      width: 35px;
      height: 35px;
      display: none;
      z-index: 9;
      &:hover {
        cursor: pointer;
        background-color: rgba(255, 255, 255, 0.568);
        transition: background-color ease-out 0.2s;
        border-radius: 10px;
      }
      &:active {
        background-color: white;
        transition: 0s;
      }
    }
  }
}
.show-top-header {
  background-color: hsla(180, 12%, 8%, 0.938);
  border-bottom: 3px solid hsla(180, 9%, 13%, 0.938);
  transition: all ease-out 0.5s;
}

// <============================= MAIN =============================>
// <==================== MAIN - HOME ====================>
main {
  padding: 12% 7% 0 7%;
  width: 100%;
  .home {
    height: 90vh;
    width: 100%;
    position: relative;
    scroll-margin-top: 22vh;
    .home-left {
      width: 65%;
      height: 72%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      position: absolute;
      z-index: 2;
      left: -20%;
      opacity: 0;
      visibility: hidden;
      h1 {
        @include white-heading;
        width: 100%;
        font-weight: 900;
        font-size: 5.8rem;
        margin-bottom: -4%;
        span {
          font-size: 3.6rem;
        }
      }
      p {
        color: global.$text-color;
        width: 60%;
        line-height: 1.5rem;
      }
      button {
        @include button;
        background-color: global.$first-color;
        display: flex;
        align-items: center;
        justify-content: space-around;
        &:hover {
          .arrow-right {
            transform: translateX(40%);
            transition: transform ease-out 0.15s;
          }
        }
        &:active {
          background-color: white;
          transition-duration: 0s;
        }
      }
    }
    .reveal-home-left {
      left: 0;
      opacity: 1;
      visibility: visible;
      transition: all ease-out 1.5s;
    }
    .home-right {
      width: 70%;
      height: 100%;
      position: relative;
      right: -64%;
      opacity: 0;
      visibility: hidden;
      img {
        width: 88%;
        height: 105%;
        position: absolute;
        right: 0;
        bottom: 0;
      }
      .triangle {
        background-color: global.$first-color-dark;
        width: 125%;
        height: 180%;
        position: absolute;
        z-index: -1;
        right: 0;
        bottom: 0;
        clip-path: polygon(100% 12%, 5% 100%, 100% 100%);
      }
    }
    .reveal-home-right {
      right: -44%;
      opacity: 1;
      visibility: visible;
      transition: all ease-out 1.5s;
    }
  }
}

// <==================== MAIN - PARTNER LOGO ====================>

main {
  .partner-logo {
    display: flex;
    justify-content: space-around;
    margin: 5% 0 7% 0;
    transform: translateY(-6vh);
    opacity: 0;
    visibility: hidden;
    img {
      width: 16%;
    }
  }
  .show-main-element-bottom {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
    transition: all ease-out 1.5s;
  }
}

// <==================== MAIN - PROGRAM ====================>

main {
  .program {
    h1 {
      @include green-heading;
      font-size: 2.4rem;
    }
    h2 {
      @include white-heading;
      font-size: 2.8rem;
      margin-bottom: 6%;
    }
  }
}

main {
  .program {
    margin-bottom: 10%;
    height: 78vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    scroll-margin-top: 17vh;
    transform: translateY(-6vh);
    opacity: 0;
    visibility: hidden;
    .program-types {
      display: flex;
      justify-content: space-between;
      height: 65%;
      div {
        height: 100%;
        background-color: global.$title-color-black;
        width: 22%;
        padding: 2.8%;
        border-radius: 3px;
        position: relative;
        scroll-margin-top: 30vh;
        &:hover {
          background-color: global.$first-color;
          h3,
          p {
            color: global.$title-color-black;
          }
          transition: all ease-out 0.2s;
        }
        .program-image-container {
          width: 50px;
          height: 50px;
          margin-bottom: 3%;
          background-color: global.$first-color-gray;
          border-radius: 500px;
          padding: 3%;
          img {
            width: 100%;
          }
        }
        h3 {
          color: global.$title-color;
          margin: 8% 0 10% 0;
          font-size: 1.4rem;
        }
        p {
          color: global.$text-color;
          font-weight: 500;
        }
        .arrow-right-gray {
          all: unset;
          background-image: url("../img/arrow-right-gray.png");
          background-size: cover;
          width: 30px;
          height: 30px;
          position: absolute;
          right: 10%;
          bottom: 5%;
          &:hover {
            cursor: pointer;
            transform: translateX(40%);
            transition: transform ease-out 0.15s;
          }
          &:active {
            background-color: hsl(180, 4%, 35%);
            transition: 0s;
            border-radius: 500px;
          }
        }
      }
    }
  }
  .show-main-element-bottom {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
    transition: all ease-out 1.5s;
  }
}

// <==================== MAIN - CHOOSE US ====================>

main {
  .choose-us {
    height: 80vh;
    display: flex;
    margin-bottom: 10%;
    position: relative;
    scroll-margin-top: 17vh;
    .choose-us-left {
      height: 100%;
      width: 50%;
      position: relative;
      transform: translateX(-40%);
      opacity: 0;
      visibility: hidden;
      img {
        height: 100%;
        position: absolute;
        left: 11%;
        z-index: 4;
      }
      .triangle-second {
        background-color: global.$first-color-dark;
        clip-path: polygon(0 0, 14% 0, 85% 100%, 0 100%);
        position: absolute;
        bottom: 0;
        width: 130%;
        height: 100%;
        z-index: 3;
      }
    }
  }
}

main {
  .choose-us {
    .choose-us-right {
      width: 50%;
      height: 100%;
      padding: 6% 0;
      transform: translateX(40%);
      opacity: 0;
      visibility: hidden;
      h1 {
        @include green-heading;
      }
      h2 {
        @include white-heading;
        font-size: 3rem;
      }
      p {
        width: 75%;
        color: global.$text-color;
        font-weight: 500;
        margin: 5% 0;
      }
    }
    .show-main-element-left,
    .show-main-element-right {
      opacity: 1;
      visibility: visible;
      transform: translateX(0);
      transition: all ease-out 1.5s;
    }
  }
}

main {
  .choose-us {
    .choose-us-right {
      .achievements {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 80%;
        row-gap: 5%;
        div {
          p {
            width: 100%;
            span {
              font-family: global.$second-font;
              font-size: 2rem;
              color: white;
            }
          }
        }
      }
    }
  }
}

// <==================== MAIN - CALCULATE ====================>

main {
  .calculate {
    height: 80vh;
    width: 100%;
    display: flex;
    margin-bottom: 10%;
    .calculate-left {
      height: 75%;
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-top: 7%;
      transform: translateX(-40%);
      opacity: 0;
      visibility: hidden;
      h1 {
        @include white-heading;
        font-size: 3rem;
      }
      p {
        width: 70%;
        color: global.$text-color;
        font-weight: 500;
      }
    }
  }
}
main {
  .calculate {
    .calculate-left {
      .calculator {
        width: 100%;
        height: 40%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .calculator-container {
          width: 92%;
          display: flex;
          justify-content: space-between;
          .height,
          .weight {
            width: 48%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 3.5%;
            border: 2px solid global.$first-color;
            will-change: opacity;
            @include input;
            label {
              color: global.$title-color;
            }
          }
        }
        button {
          all: unset;
          width: 92%;
          background-color: global.$first-color;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 3.2% 0;
          font-weight: 800;
          will-change: contents;
          img {
            margin-left: 2%;
          }
          &:hover {
            cursor: pointer;
            img {
              transform: translateX(40%);
              transition: transform ease-out 0.15s;
            }
          }
        }
      }
    }
  }
}
main {
  .calculate {
    .calculate-left {
      .bmi-message-container {
        width: 100%;
        height: 20px;
        margin-top: -4%;
        .bmi-message {
          transform: translateY(-20px);
          opacity: 0;
          visibility: hidden;
        }
        .incorrect-input,
        .skinny,
        .healthy,
        .overweight {
          opacity: 1;
          visibility: visible;
          transform: translateY(0);
          transition: all ease-out 0.2s;
        }
        .incorrect-input,
        .overweight {
          color: rgb(221, 3, 3);
        }
        .skinny {
          color: rgb(235, 235, 0);
        }
        .healthy {
          color: global.$first-color;
        }
      }
    }
  }
}

main {
  .calculate {
    .calculate-right {
      height: 100%;
      width: 50%;
      position: relative;
      transform: translateX(40%);
      opacity: 0;
      visibility: hidden;
      img {
        height: 100%;
        position: absolute;
        bottom: 0;
        left: 30%;
      }
    }
    .show-main-element-left,
    .show-main-element-right {
      opacity: 1;
      visibility: visible;
      transform: translateX(0);
      transition: all ease-out 1.5s;
    }
  }
}

// <============================ FOOTER ============================>

footer {
  padding: 3% 7% 2% 7%;
  width: 100%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 2%;
  border-top: 3px solid hsl(180, 11%, 13%);
  .footer-up {
    display: flex;
    justify-content: space-between;
    height: 70%;
    .footer-left {
      width: 40%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      opacity: 0;
      visibility: hidden;
      transform: translateX(-40%);
      .footer-logo {
        display: flex;
        align-items: center;
        img {
          width: 6%;
          margin-right: 2%;
        }
        p {
          color: global.$title-color;
          font-size: 1.2rem;
          font-weight: 800;
        }
      }
      p {
        color: global.$title-color;
        font-weight: 500;
      }
      .subscribe {
        @include input;
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-bottom: -3%;
        input {
          border: 2px solid global.$first-color;
          padding: 4%;
          width: 55%;
          will-change: opacity;
          &:active {
            background-color: global.$body-color;
          }
        }
        button {
          all: unset;
          color: black;
          font-weight: 800;
          text-align: center;
          padding: 4%;
          background-color: global.$first-color;
          width: 23%;
          &:hover {
            cursor: pointer;
          }
          &:active {
            background-color: global.$title-color;
          }
        }
      }
      .subscribe-message-container {
        width: 100%;
        height: 20px;
        .subscribe-message {
          transform: translateY(-20px);
          opacity: 0;
          visibility: hidden;
        }
        .correct-email,
        .wrong-email {
          transform: translateY(0);
          opacity: 1;
          visibility: visible;
          transition: all ease-out 0.2s;
        }
        .correct-email {
          color: global.$first-color;
        }
        .wrong-email {
          color: rgb(221, 3, 3);
        }
      }
    }
    .show-footer-left {
      opacity: 1;
      visibility: visible;
      transform: translateX(0);
      transition: all ease-out 1.5s;
    }
  }
}

footer {
  .footer-up {
    .footer-right {
      width: 40%;
      height: 26vh;
      display: flex;
      justify-content: space-between;
      opacity: 0;
      visibility: hidden;
      transform: translateX(40%);
      .services-links,
      .pricing-links,
      .company-links {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        h2 {
          color: global.$title-color;
          font-size: 1.3rem;
        }
        ul {
          height: 70%;
          display: flex;
          flex-direction: column;
          li {
            list-style-type: none;
            margin-bottom: 8%;
            a {
              text-decoration: none;
              color: global.$text-color;
              font-weight: 500;
              &:hover {
                color: global.$first-color;
              }
            }
          }
        }
      }
    }
    .show-footer-right {
      opacity: 1;
      visibility: visible;
      transform: translateX(0);
      transition: all ease-out 1.5s;
    }
  }
}

footer {
  .footer-down {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    p {
      color: global.$text-color;
      font-weight: 500;
    }
    .social-network {
      display: flex;
      width: 12%;
      display: flex;
      justify-content: space-between;
      .social-network-logo-container {
        all: unset;
        width: 20px;
        height: 20px;
        padding: 3%;
        background-color: global.$first-color;
        border-radius: 500px;
        img {
          width: 100%;
        }
      }
    }
  }
}

// <========================= SCROLL-UP BUTTON =========================>

.scroll-up {
  all: unset;
  background-image: url("../img/arrow-up.svg");
  width: 45px;
  height: 45px;
  background-color: global.$first-color;
  background-size: cover;
  position: fixed;
  right: 30px;
  bottom: -40px;
  z-index: 20;
  border: 2px solid global.$body-color;
  border-radius: 3px;
  opacity: 0;
  visibility: hidden;
  transition: all ease-out 0.5s;
  &:hover {
    cursor: pointer;
    transform: translateY(-17px);
    transition: all ease-out 0.2s;
  }
}
.show-scroll-up-button {
  opacity: 1;
  visibility: visible;
  bottom: 30px;
  transition: all ease-out 0.5s;
}

// <========================= PRICING PAGE =========================>

.pricing-page {
  padding: 3% 7%;
  h1 {
    @include green-heading;
    text-align: center;
    font-size: 2rem;
    margin-bottom: 0.5%;
  }
  h2 {
    @include white-heading;
    text-align: center;
    font-size: 2.8rem;
    margin-bottom: 8%;
  }
  h1,
  h2 {
    visibility: hidden;
    opacity: 0;
    transform: translateY(-40%);
  }
  .show-pricing-headings {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
    transition: all ease-out 1s;
  }
}

.pricing-page {
  overflow: hidden;
  .packages {
    display: flex;
    justify-content: space-around;
    height: 80vh;
    visibility: hidden;
    opacity: 0;
    transform: translateY(20%);
    .basic {
      @include pricing-all-packages;
      @include pricing-gray-packages;
      .offer p:nth-child(3),
      .offer p:nth-child(4),
      .offer p:nth-child(5) {
        opacity: 0.2;
      }
    }
    .premium {
      @include pricing-all-packages;
      background-color: global.$first-color;
      h3,
      .price,
      p {
        color: global.$title-color-black;
      }
      .offer {
        p {
          background-image: url("../img/checkmark-in-circle-2.png");
        }
        & p:nth-child(4),
        p:nth-child(5) {
          opacity: 0.3;
        }
      }
    }
    .diamond {
      @include pricing-all-packages;
      @include pricing-gray-packages;
    }
  }
  .show-all-packages {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
    transition: all ease-out 1s;
  }
}

// <==================== NAV-BAR EXIT BACKGROUND ====================>

.nav-bar-exit-background {
  display: none;
  position: fixed;
  width: 120%;
  height: 120%;
  background-color: rgba(0, 0, 0, 0.575);
  top: -5%;
  right: -5%;
  z-index: 21;
}

// <========================= REGISTER FORM =========================>

.register-form {
  width: 30%;
  height: 70%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -10%);
  background-color: global.$body-color;
  border: 3px solid hsla(180, 9%, 13%, 0.938);
  z-index: 25;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2% 0;
  opacity: 0;
  visibility: hidden;
  transition: all ease-out 0.5s;
  form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    height: 100%;
    @include input;
    input {
      border: 3px solid hsla(180, 9%, 13%, 0.938);
      padding: 4%;
    }
    .register-message-container {
      height: 18px;
      margin-top: -8%;
      width: 100%;
      text-align: left;
      .register-message {
        font-weight: 500;
        visibility: hidden;
        opacity: 0;
        transform: translateY(-5vh);
        transition: all ease-out 0.5s;
      }
      .wrong-register-input,
      .correct-register-input {
        visibility: visible;
        opacity: 1;
        transform: translateY(0);
        transition: all ease-out 0.5s;
      }
      .wrong-register-input {
        color: rgb(221, 3, 3);
      }
      .correct-register-input {
        color: global.$first-color;
      }
    }
    button {
      all: unset;
      font-weight: 800;
      background-color: global.$first-color;
      width: 50%;
      height: 5%;
      padding: 4%;
      display: flex;
      align-items: center;
      justify-content: space-around;
      &:hover {
        cursor: pointer;
      }
      &:active {
        background-color: white;
      }
    }
  }
}
.show-register-form {
  visibility: visible;
  opacity: 1;
  transform: translate(-50%, -50%);
  transition: all ease-out 0.5s;
}

// <===================== SCROLLBAR STYLE =====================>

::-webkit-scrollbar {
  width: 12px;
  background-color: hsl(79, 4%, 15%);
}
::-webkit-scrollbar-thumb {
  background-color: hsl(79, 4%, 25%);
  border-radius: 30px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: hsl(79, 4%, 35%);
}

// <=================== TRAINING PROGRAM PAGES ===================>

.training-page {
  background-color: global.$body-color;
  h1 {
    @include green-heading;
    text-align: center;
    margin-top: 5%;
    font-size: 2.8rem;
    transform: translateY(-20%);
    visibility: hidden;
    opacity: 0;
  }
  .training-video {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -15%);
    width: 45%;
    height: 55%;
    border: 4px solid hsla(180, 9%, 13%, 0.938);
    border-radius: 5px;
    visibility: hidden;
    opacity: 0;
  }
  .show-tr-prog-heading {
    transform: translateY(0);
  }
  .show-tr-prog-video {
    transform: translate(-50%, -35%);
  }
  .show-tr-prog-heading,
  .show-tr-prog-video {
    visibility: visible;
    opacity: 1;
    transition: all ease-out 1s;
  }
}

// <============================= MEDIA QUERY =============================>

@media only screen and (max-width: 1280px) {
  header {
    nav {
      .nav-menu {
        ul {
          gap: 13%;
        }
      }
    }
  }
  main {
    .home {
      height: 85vh;
      .home-left {
        h1 {
          font-size: 4.5rem;
          span {
            font-size: 2.7rem;
          }
        }
      }
    }
  }
  main {
    .program {
      margin-bottom: 12%;
    }
  }
  main {
    .choose-us {
      justify-content: space-between;
      .choose-us-right {
        width: 40%;
        margin-right: 5%;
        padding: 3% 0 0 0;
        p {
          width: 100%;
        }
        .achievements {
          width: 100%;
        }
      }
    }
  }
  main {
    .calculate {
      .calculate-left {
        width: 70%;
        p {
          width: 50%;
        }
        .calculator {
          width: 70%;
        }
      }
      .calculate-right {
        width: 30%;
        img {
          left: -13%;
        }
      }
    }
  }
  .training-page {
    .training-video {
      width: 52%;
      height: 60%;
    }
  }
}

@media only screen and (max-width: 1181px) {
  header {
    nav {
      .nav-menu {
        width: 55%;
        ul {
          gap: 12%;
        }
        .register-button {
          width: 7rem;
        }
      }
    }
  }
  main {
    .home {
      height: 75vh;
      .home-left {
        h1 {
          font-size: 3.8rem;
          span {
            font-size: 2.2rem;
          }
        }
        button {
          width: 7.7rem;
        }
      }
      .home-right {
        img {
          width: 85%;
        }
      }
    }
  }
  main {
    .calculate {
      .calculate-left {
        width: 70%;
        p {
          width: 60%;
        }
        .calculator {
          width: 80%;
        }
      }
    }
  }
  .register-form {
    width: 35%;
  }
}

@media only screen and (max-width: 1140px) {
  header {
    nav {
      .nav-menu {
        ul {
          gap: 10%;
        }
      }
    }
  }
  main {
    .home {
      height: 68vh;
    }
  }
  main {
    .partner-logo {
      margin-bottom: 8%;
    }
  }
  main {
    .choose-us {
      .choose-us-right {
        margin-right: 2%;
        h2 {
          font-size: 2.8rem;
        }
        p {
          margin: 3% 0;
        }
      }
    }
  }
  .pricing-page {
    .packages {
      justify-content: space-between;
      flex-direction: column;
      align-items: center;
      height: 270vh;
      gap: 5%;
    }
  }
  footer {
    .footer-up {
      .footer-left {
        width: 45%;
      }
      .footer-right {
        width: 45%;
      }
    }
  }
  .training-page {
    .training-video {
      width: 52%;
      height: 53%;
    }
  }
}

@media only screen and (max-width: 1050px) {
  header {
    nav {
      .nav-menu {
        height: 110%;
        position: fixed;
        top: -1%;
        right: -60%;
        z-index: 10;
        background-color: global.$body-color;
        border-left: hsl(180, 11%, 13%) 2px solid;
        flex-direction: column;
        justify-content: flex-start;
        padding: 12% 0 0 5%;
        width: 55%;
        opacity: 0;
        transition: all ease-out 0.5s;
        .nav-menu-exit-button {
          display: inline-block;
          position: absolute;
          right: 10%;
          top: 6%;
        }
        ul {
          flex-direction: column;
          height: 40%;
          justify-content: space-between;
          margin-bottom: 10%;
        }
      }
      .nav-menu-open-button {
        display: inline-block;
      }
      .show-right-nav-bar {
        right: -1%;
        opacity: 1;
        transition: all ease-out 0.5s;
      }
    }
  }
  main {
    .home {
      height: 62vh;
      .home-left {
        h1 {
          font-size: 3.2rem;
          span {
            font-size: 1.9rem;
          }
        }
      }
      .home-right {
        .triangle {
          width: 105%;
          height: 160%;
        }
      }
    }
  }
  main {
    .partner-logo {
      img {
        width: 20%;
      }
    }
  }
  main {
    .program {
      height: 140vh;
      .program-types {
        flex-wrap: wrap;
        justify-content: space-around;
        align-content: space-between;
        height: 80%;
        width: 80%;
        div {
          width: 38%;
          height: 45%;
          padding: 4%;
        }
      }
    }
  }
  main {
    .program {
      margin-bottom: 14%;
    }
  }
  main {
    .choose-us {
      height: 75vh;
    }
  }
  main {
    .calculate {
      height: 74vh;
      .calculate-left {
        h1 {
          font-size: 2.7rem;
        }
      }
    }
  }
  .register-form {
    height: 60%;
  }
  .nav-bar-exit-background {
    z-index: 18;
  }
  .exit-bg-z-index {
    z-index: 24;
  }
  .training-page {
    .training-video {
      width: 58%;
    }
    .show-tr-prog-video {
      transform: translate(-50%, -45%);
    }
  }
}

@media only screen and (max-width: 980px) {
  main {
    .home {
      .home-left {
        p {
          width: 70%;
        }
      }
    }
  }
  main {
    .calculate {
      margin-bottom: 13%;
      .calculate-left {
        p {
          width: 70%;
        }
      }
    }
  }
  footer {
    height: 85vh;
    .footer-up {
      flex-direction: column;
      justify-content: space-between;
      height: 80%;
      .footer-left {
        width: 60%;
        height: 50%;
      }
      .footer-right {
        width: 60%;
      }
    }
  }
}

@media only screen and (max-width: 930px) {
  header {
    padding: 1% 0;
    nav {
      .nav-menu {
        padding-top: 14%;
      }
    }
  }
  main {
    .home {
      height: 55vh;
      .home-left {
        height: 80%;
        h1 {
          margin-bottom: -2%;
        }
      }
      .home-right {
        img {
          height: 107%;
        }
      }
    }
  }
  main {
    .partner-logo {
      margin-bottom: 10%;
    }
  }
  main {
    .program {
      .program-types {
        width: 90%;
      }
    }
  }
  main {
    .program {
      margin-bottom: 16%;
    }
  }
  main {
    .choose-us {
      height: 70vh;
      margin-bottom: 12%;
      .choose-us-left {
        img {
          left: 8%;
        }
      }
      .choose-us-right {
        h1 {
          font-size: 1.8rem;
        }
        h2 {
          font-size: 2.5rem;
        }
        p {
          margin: 2% 0;
        }
      }
    }
  }
  .pricing-page {
    padding: 6% 7%;
  }
  main {
    .calculate {
      height: 70vh;
      .calculate-left {
        width: 75%;
        h1 {
          font-size: 2.5rem;
        }
        p {
          width: 70%;
        }
        .calculator {
          width: 75%;
        }
      }
      .calculate-right {
        width: 25%;
        img {
          left: -35%;
        }
      }
    }
  }
  footer {
    .footer-down {
      .social-network {
        width: 14%;
      }
    }
  }
  .training-page {
    .training-video {
      width: 63%;
    }
    .show-tr-prog-video {
      transform: translate(-50%, -52%);
    }
  }
}

@media only screen and (max-width: 850px) {
  main {
    .home {
      height: 50vh;
      .home-left {
        h1 {
          font-size: 2.7rem;
          span {
            font-size: 1.6rem;
          }
        }
        p {
          width: 77%;
        }
      }
    }
  }
  main {
    .choose-us {
      height: 68vh;
      .choose-us-right {
        h1 {
          font-size: 1.7rem;
        }
        h2 {
          font-size: 2.3rem;
        }
      }
    }
  }
  main {
    .calculate {
      height: 65vh;
    }
  }
  .register-form {
    width: 40%;
  }
}

@media only screen and (max-width: 800px) {
  header {
    nav {
      .nav-menu {
        width: 65%;
        padding-top: 17%;
        right: -70%;
      }
      .nav-menu-open-button {
        &:hover {
          background-color: unset;
          transition: unset;
          border-radius: unset;
        }
        &:active {
          background-color: rgba(255, 255, 255, 0.568);
          border-radius: 10px;
        }
      }
      .show-right-nav-bar {
        right: -1%;
        opacity: 1;
        transition: all ease-out 0.5s;
      }
    }
  }
  main {
    padding-top: 16%;
    .home {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 115vh;
      .home-left {
        width: 100%;
        position: absolute;
        z-index: unset;
        align-items: center;
        text-align: center;
        height: 35%;
        left: 0;
        top: -10%;
        h1 {
          font-size: 2.8rem;
        }
        p {
          width: 100%;
        }
        button {
          &:hover {
            .arrow-right {
              transform: unset;
              transition: unset;
            }
          }
          &:active {
            .arrow-right {
              transform: translateX(40%);
              transition: transform ease-out 0.1s;
            }
          }
        }
      }
      .reveal-home-left {
        left: 0;
        top: 0;
        opacity: 1;
        visibility: visible;
        transition: all ease-out 1.5s;
      }
      .home-right {
        width: 100%;
        height: 50%;
        right: 0;
        top: 60%;
        text-align: center;
        img {
          width: 60%;
          height: 100%;
          position: unset;
        }
        .triangle {
          width: 140%;
          height: 100%;
          right: -10%;
          clip-path: polygon(100% 0, 28% 100%, 100% 100%);
        }
      }
      .reveal-home-right {
        right: 0;
        top: 50%;
        opacity: 1;
        visibility: visible;
        transition: all ease-out 1.5s;
      }
    }
  }
  main {
    .partner-logo {
      flex-wrap: wrap;
      column-gap: 14%;
      row-gap: 3vh;
      margin-bottom: 14%;
      img {
        width: 25%;
      }
    }
  }
  main {
    .program {
      .program-types {
        width: 100%;
        div {
          .arrow-right-gray {
            background-image: url("../img/arrow-right-white.png");
            &:hover {
              transform: unset;
              transition: unset;
            }
            &:active {
              background-color: unset;
              transition: 0s;
              border-radius: 500px;
              transform: translateX(40%);
            }
          }
        }
      }
    }
  }
  main {
    .choose-us {
      flex-direction: column-reverse;
      height: 140vh;
      align-items: center;
      margin-bottom: 10%;
      .choose-us-left {
        width: 100%;
        height: 42%;
        display: flex;
        flex-direction: column;
        align-items: center;
        img {
          position: unset;
          left: unset;
        }
        .triangle-second {
          clip-path: polygon(0 0, 0% 100%, 100% 100%);
          width: 110%;
          height: 90%;
          left: -10%;
        }
      }
      .choose-us-right {
        text-align: center;
        width: 100%;
        padding: 0;
        margin-right: 0;
        h1 {
          margin-bottom: 1%;
          font-size: 2.4rem;
        }
        h2 {
          margin-bottom: 7%;
          font-size: 2.8rem;
        }
        p {
          margin-bottom: 7%;
        }
      }
    }
  }
  main {
    .calculate {
      flex-direction: column;
      height: 125vh;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 15%;
      .calculate-left {
        align-items: center;
        width: 70%;
        height: 42%;
        h1 {
          width: 100%;
          text-align: center;
          font-size: 2.2rem;
        }
        p {
          width: 100%;
          text-align: center;
        }
        .calculator {
          width: 100%;
          .calculator-container {
            width: 100%;
          }
          button {
            width: 100%;
            &:hover {
              img {
                transform: unset;
                transition: unset;
              }
            }
            &:active {
              background-color: white;
              transition: background-color ease-out 0.15s;
              img {
                transform: translateX(40%);
                transition-duration: 0s;
              }
            }
          }
        }
        .bmi-message-container {
          .bmi-message {
            text-align: left;
          }
        }
      }
      .calculate-right {
        height: 48%;
        width: 100%;
        text-align: center;
        img {
          position: unset;
          left: unset;
        }
      }
    }
  }
  footer {
    height: 80vh;
    .footer-up {
      height: 83%;
      .footer-left {
        width: 80%;
      }
      .footer-right {
        width: 70%;
      }
    }
    .footer-down {
      .social-network {
        width: 18%;
      }
    }
  }
  .scroll-up {
    width: 35px;
    height: 35px;
    &:hover {
      cursor: pointer;
      transform: unset;
      transition: unset;
    }
  }
  .training-page {
    .training-video {
      width: 70%;
      height: 48%;
    }
  }
}

@media only screen and (max-width: 750px) {
  header {
    padding: 2.5% 0;
  }
  main {
    .home {
      height: 105vh;
      .home-left {
        height: 38%;
        h1 {
          font-size: 2.6rem;
          span {
            font-size: 1.3rem;
          }
        }
      }
    }
  }
  main {
    .program {
      height: 130vh;
      h1 {
        font-size: 2rem;
      }
      h2 {
        font-size: 2.2rem;
        margin-bottom: 8%;
      }
      .program-types {
        height: 84%;
      }
    }
  }
  main {
    .program {
      margin-bottom: 18%;
    }
  }
}

@media only screen and (max-width: 680px) {
  header {
    nav {
      .nav-menu {
        padding-top: 20%;
        width: 75%;
        right: -80%;
        .nav-menu-exit-button {
          right: 12%;
        }
      }
      .show-right-nav-bar {
        right: -1%;
        opacity: 1;
        transition: all ease-out 0.5s;
      }
    }
  }

  main {
    padding-top: 19%;
    .home {
      .home-left {
        h1 {
          margin-bottom: 3%;
        }
        p {
          margin-bottom: 8%;
        }
      }
      .home-right {
        img {
          width: 70%;
        }
      }
    }
  }
  main {
    .show-main-element-bottom {
      transform: unset;
      opacity: unset;
      visibility: unset;
      transition: unset;
    }
    .partner-logo {
      margin-bottom: 17%;
      transform: translateX(-40%);
    }
    .show-partners-element {
      opacity: 1;
      visibility: visible;
      transform: translateX(0);
      transition: all ease-out 1.5s;
    }
  }
  main {
    .program {
      height: 240vh;
      transform: unset;
      opacity: unset;
      visibility: unset;
      h1,
      h2 {
        opacity: 0;
        visibility: hidden;
        transform: translateX(-40%);
      }
      .program-types {
        flex-direction: column;
        justify-content: space-between;
        height: 90%;
        width: 45%;
        div {
          width: 100%;
          height: 23%;
          padding: 10%;
        }
        .training-program {
          opacity: 0;
          visibility: hidden;
          transform: translateX(-40%);
        }
        .show-each-program {
          opacity: 1;
          visibility: visible;
          transform: translateX(0);
          transition: all ease-out 1.5s;
        }
      }
      .show-each-program {
        opacity: 1;
        visibility: visible;
        transform: translateX(0);
        transition: all ease-out 1.5s;
      }
    }
  }
  main {
    .choose-us {
      height: 130vh;
      margin-bottom: 14%;
      .choose-us-right {
        h1 {
          margin-bottom: 0;
        }
      }
    }
  }
  main {
    .calculate {
      height: 115vh;
      margin-bottom: 18%;
      .calculate-left {
        height: 44%;
        width: 80%;
      }
    }
  }
  footer {
    height: 75vh;
    .footer-up {
      .footer-right {
        width: 100%;
      }
    }
    .footer-down {
      .social-network {
        width: 20%;
      }
    }
  }
  .register-form {
    width: 50%;
    height: 55%;
  }
  .training-page {
    .training-video {
      width: 80%;
      height: 48%;
    }
    .show-tr-prog-video {
      transform: translate(-50%, -58%);
    }
  }
}

@media only screen and (max-width: 600px) {
  header {
    padding: 4.5% 0;
    nav {
      .nav-menu {
        padding: 23% 0 0 8%;
        ul {
          margin-bottom: 13%;
          height: 35%;
        }
      }
    }
  }
  main {
    .home {
      margin-bottom: 8%;
      .home-right {
        img {
          width: 80%;
        }
      }
    }
  }
  main {
    .partner-logo {
      margin-bottom: 18%;
      img {
        width: 30%;
      }
    }
  }
  main {
    .program {
      height: 230vh;
      h1 {
        font-size: 1.7rem;
      }
      h2 {
        font-size: 1.9rem;
        margin-bottom: 11%;
      }
      .program-types {
        width: 53%;
      }
    }
  }
  main {
    .program {
      margin-bottom: 22%;
    }
  }
  main {
    .choose-us {
      height: 120vh;
    }
  }
  .pricing-page {
    padding: 8% 0;
    h1 {
      font-size: 1.8rem;
      margin-bottom: 1%;
    }
    h2 {
      font-size: 2.4rem;
      margin-bottom: 10%;
    }
  }
  main {
    .calculate {
      .calculate-left {
        width: 90%;
        h1 {
          font-size: 1.9rem;
        }
      }
    }
  }
}

@media only screen and (max-width: 530px) {
  main {
    .home {
      .home-right {
        img {
          width: 95%;
        }
      }
    }
  }
  main {
    .program {
      height: 220vh;
      .program-types {
        width: 60%;
      }
    }
  }
  main {
    .choose-us {
      height: 130vh;
      margin-bottom: 20%;
      .choose-us-right {
        h1 {
          font-size: 2rem;
        }
        h2 {
          margin-bottom: 10%;
          font-size: 2.4rem;
        }
        p {
          margin-bottom: 10%;
        }
      }
      .choose-us-left {
        height: 45%;
      }
    }
  }
  main {
    .calculate {
      margin-bottom: 21%;
    }
  }
  footer {
    height: 175vh;
    margin-bottom: 8%;
    padding-top: 6%;
    .footer-up {
      height: 83%;
      width: 100%;
      .footer-left {
        width: 100%;
        height: 32%;
        .subscribe {
          flex-direction: column;
          height: 48%;
          align-items: center;
          #email {
            width: 90%;
          }
          button {
            width: 90%;
          }
        }
      }
      .show-footer-right {
        opacity: unset;
        visibility: unset;
        transform: unset;
        transition: unset;
      }
      .footer-right {
        flex-direction: column;
        height: 64%;
        opacity: unset;
        visibility: unset;
        transform: unset;
        .services-links,
        .pricing-links,
        .company-links {
          height: 29%;
          opacity: 0;
          visibility: hidden;
          transform: translateX(40%);
          ul {
            height: 73%;
            justify-content: space-between;
            li {
              margin: unset;
            }
          }
        }
        .pricing-links {
          height: 23%;
          ul {
            height: 66%;
          }
        }
        .show-each-footer-link {
          visibility: visible;
          opacity: 1;
          transform: translateX(0);
          transition: all ease-out 1.5s;
        }
      }
    }
    .footer-down {
      height: 7%;
      flex-direction: column-reverse;
      justify-content: space-between;
      .social-network {
        width: 26%;
      }
    }
  }
  .register-form {
    width: 58%;
    height: 55%;
  }
  .training-page {
    h1 {
      font-size: 2.3rem;
      margin-top: 8%;
    }
    .training-video {
      width: 90%;
      height: 44%;
    }
  }
}

@media only screen and (max-width: 470px) {
  header {
    nav {
      .nav-menu {
        width: 90%;
        padding: 25% 0 0 9%;
        right: -95%;
        .nav-menu-exit-button {
          right: 10%;
        }
        ul {
          height: 30%;
        }
      }
      .show-right-nav-bar {
        right: -1%;
        opacity: 1;
        transition: all ease-out 0.5s;
      }
    }
  }
  main {
    padding-top: 24%;
    .home {
      margin-bottom: 11%;
      .home-left {
        h1 {
          font-size: 2rem;
        }
      }
      .home-right {
        img {
          width: 100%;
        }
      }
    }
  }
  main {
    .partner-logo {
      margin-bottom: 22%;
      img {
        width: 35%;
      }
    }
  }
  main {
    .program {
      h1 {
        font-size: 1.6rem;
      }
      h2 {
        font-size: 1.6rem;
      }
      .program-types {
        width: 65%;
      }
    }
  }
  main {
    .program {
      margin-bottom: 26%;
    }
  }
  main {
    .choose-us {
      height: 110vh;
      .choose-us-right {
        h1 {
          font-size: 1.6rem;
        }
        h2 {
          font-size: 1.9rem;
        }
        p {
          font-size: 0.9rem;
        }
        .achievements {
          div {
            p {
              span {
                font-size: 1.6rem;
              }
            }
          }
        }
      }
    }
  }
  .pricing-page {
    h1 {
      font-size: 1.6rem;
    }
    h2 {
      font-size: 2rem;
      margin-bottom: 13%;
    }
    .packages {
      height: 235vh;
    }
  }
  main {
    .calculate {
      height: 115vh;
      .calculate-left {
        height: 51%;
        width: 100%;
        h1 {
          font-size: 1.7rem;
        }
        p {
          font-size: 0.9rem;
        }
        .calculator {
          height: 50%;
          align-items: center;
          .calculator-container {
            flex-direction: column;
            align-items: center;
            height: 60%;
            .height,
            .weight {
              width: 80%;
            }
          }
          button {
            width: 80%;
          }
        }
        .bmi-message-container {
          margin-top: -8%;
          width: 80%;
          .bmi-message {
            font-size: 0.9rem;
          }
        }
      }
      .calculate-right {
        height: 43%;
      }
    }
  }
  footer {
    height: 165vh;
    margin-bottom: 14%;
    .footer-up {
      .footer-left {
        height: 29%;
        p {
          font-size: 0.9rem;
        }
        .subscribe {
          height: 46%;
        }
      }
      .footer-right {
        .services-links,
        .pricing-links,
        .company-links {
          ul {
            li {
              a {
                font-size: 0.9rem;
              }
            }
          }
        }
      }
    }
    .footer-down {
      height: 7%;
      flex-direction: column-reverse;
      justify-content: space-between;
      p {
        font-size: 0.9rem;
      }
      .social-network {
        width: 32%;
      }
    }
  }
  .scroll-up {
    width: 30px;
    height: 30px;
    right: 20px;
  }
  .show-scroll-up-button {
    bottom: 20px;
  }
  .register-form {
    width: 68%;
    form {
      button {
        width: 70%;
        height: 8%;
      }
    }
  }
  .training-page {
    h1 {
      margin-top: 14%;
    }
    .training-video {
      width: 95%;
      height: 40%;
    }
  }
}

@media only screen and (max-width: 400px) {
  header {
    padding: 6.5% 0;

    nav {
      .nav-menu {
        padding-top: 30%;
        .register-button {
          font-size: 0.9rem;
          width: 6rem;
        }
      }
    }
  }
  main {
    .home {
      height: 93vh;
      margin-bottom: 13%;
      .home-left {
        height: 42%;
        p {
          font-size: 0.9rem;
        }
        button {
          width: 7rem;
          font-size: 0.9rem;
        }
      }
    }
  }
  main {
    .partner-logo {
      flex-direction: column;
      align-items: center;
      flex-wrap: nowrap;
      row-gap: 2.3vh;
      margin-bottom: 25%;
      img {
        width: 40%;
      }
    }
  }
  main {
    .program {
      h2 {
        margin-top: 5%;
        margin-bottom: 16%;
        font-size: 2.3rem;
        text-align: center;
        span {
          display: block;
          font-size: 1.4rem;
        }
      }
      .program-types {
        width: 75%;
        div {
          h3 {
            font-size: 1.2rem;
            margin-bottom: 5%;
          }
          p {
            font-size: 0.9rem;
          }
        }
      }
    }
  }
  main {
    .program {
      margin-bottom: 30%;
    }
  }
  .pricing-page {
    h2 {
      font-size: 1.7rem;
    }
    .packages {
      height: 225vh;
      gap: 3.5%;
    }
  }
  main {
    .choose-us {
      margin-bottom: 26%;
    }
  }
  main {
    .calculate {
      margin-bottom: 26%;
      .calculate-left {
        height: 48%;
        h1 {
          font-size: 1.5rem;
        }
        .calculator {
          height: 53%;
          .calculator-container {
            height: 57%;
          }
          button {
            height: 15%;
          }
        }
        .bmi-message-container {
          margin-top: -6%;
        }
      }
      .calculate-right {
        height: 46%;
      }
    }
  }
  footer {
    height: 155vh;
    margin-bottom: 16%;
    .footer-up {
      height: 81%;
      .footer-left {
        height: 31%;

        .subscribe {
          height: 44%;
        }
      }
      .footer-right {
        height: 63%;
        .services-links,
        .pricing-links,
        .company-links {
          height: 30%;
        }
        .pricing-links {
          height: 25%;
          ul {
            height: 68%;
          }
        }
      }
    }
    .footer-down {
      height: 8%;
      .social-network {
        width: 40%;
      }
    }
  }
  .register-form {
    width: 78%;
  }
  .training-page {
    h1 {
      margin-top: 24%;
    }
    .training-video {
      height: 35%;
    }
  }
}

@media only screen and (max-width: 350px) {
  header {
    nav {
      .logo {
        width: 70%;
      }
    }
  }
  main {
    padding-top: 27%;
    .home {
      height: 88vh;
      margin-bottom: 15%;
      .home-left {
        p {
          line-height: 1.2rem;
        }
      }
    }
  }
  main {
    .partner-logo {
      img {
        width: 45%;
      }
    }
  }
  main {
    .program {
      height: 205vh;
      .program-types {
        width: 80%;
      }
    }
  }
  main {
    .program {
      margin-bottom: 35%;
    }
  }
  main {
    .choose-us {
      .choose-us-right {
        h1 {
          font-size: 1.4rem;
        }
        h2 {
          font-size: 1.6rem;
        }
      }
      .choose-us-left {
        height: 48%;
      }
    }
  }
  .pricing-page {
    h2 {
      margin-bottom: 17%;
    }
    .packages {
      height: 215vh;
    }
  }
  main {
    .choose-us {
      margin-bottom: 30%;
    }
  }
  main {
    .calculate {
      margin-bottom: 30%;
      .calculate-left {
        h1 {
          font-size: 1.3rem;
        }
        .calculator {
          height: 48%;
          .calculator-container {
            height: 60%;
            .height,
            .weight {
              width: 90%;
            }
          }
          button {
            width: 90%;
          }
        }
        .bmi-message-container {
          margin-top: -8%;
          width: 90%;
        }
      }
    }
  }
  footer {
    .footer-up {
      .footer-right {
        .pricing-links {
          height: 24%;
        }
      }
      .footer-left {
        .footer-logo {
          img {
            width: 8%;
          }
        }
        .subscribe {
          height: 40%;
        }
      }
    }
    .footer-down {
      p {
        font-size: 0.8rem;
      }
      .social-network {
        width: 45%;
      }
    }
  }
  .register-form {
    width: 85%;
    form {
      .register-message-container {
        .register-message {
          font-size: 0.9rem;
        }
      }
    }
  }
  .training-page {
    h1 {
      margin-top: 30%;
    }
    .training-video {
      height: 31%;
    }
  }
}

@media only screen and (max-width: 320px) {
  header {
    nav {
      .nav-menu {
        padding: 35% 0 0 11%;
        ul {
          margin-bottom: 22%;
          height: 27%;
        }
        .register-button {
          padding: 0.5rem;
        }
      }
    }
  }
  main {
    .home {
      height: 84vh;
      .home-left {
        h1 {
          font-size: 1.8rem;
          margin-top: 3%;
        }
        p {
          font-size: 0.8rem;
        }
      }
    }
  }
  main {
    .program {
      .program-types {
        width: 85%;
      }
    }
  }
  .pricing-page {
    .packages {
      height: 195vh;
    }
  }
  main {
    .calculate {
      height: 110vh;
      .calculate-left {
        .calculator {
          height: 46%;
        }
      }
    }
  }
  footer {
    .footer-down {
      p {
        font-size: 0.75rem;
      }
    }
  }
  .register-form {
    width: 92%;
  }
  .training-page {
    h1 {
      margin-top: 33%;
    }
  }
}

@media only screen and (max-width: 300px) {
  main {
    .home {
      height: 81vh;
      .home-left {
        h1 {
          span {
            font-size: 1.05rem;
          }
        }
      }
    }
  }
  .pricing-page {
    h1 {
      font-size: 1.3rem;
    }
    h2 {
      font-size: 1.45rem;
    }
  }
  footer {
    .footer-down {
      p {
        font-size: 0.7rem;
      }
    }
  }
}

@media only screen and (max-height: 550px) {
  header nav .nav-menu {
    padding-top: 10%;
  }
  main {
    .home {
      height: 120vh;
    }
    .program {
      height: 160vh;
    }
    .choose-us {
      height: 170vh;
    }
    .calculate {
      height: 130vh;
    }
  }
  footer {
    height: 115vh;
  }
  .register-form {
    height: 100%;
  }
  .training-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
      text-align: unset;
      margin-bottom: 5%;
    }
    .training-video {
      position: unset;
      width: 75%;
      height: 90vh;
      margin-bottom: 5%;
      transform: translate(0, 15%);
    }
    .show-tr-prog-video {
      transform: translate(0);
    }
  }
}

@media only screen and (max-height: 500px) {
  header {
    padding: 2% 0;
  }
  main {
    .home {
      height: 150vh;
    }
    .program {
      height: 250vh;
    }
    .calculate {
      height: 185vh;
    }
  }
}

@media only screen and (max-height: 450px) {
  footer {
    height: 125vh;
    .footer-left {
      margin-top: 3vh;
    }
    .footer-up {
      .footer-right {
        margin-bottom: 10vh;
      }
    }
  }
}

@media only screen and (max-height: 400px) {
  main {
    .home {
      height: 190vh;
    }
    .program {
      height: 280vh;
    }
    .choose-us {
      height: 200vh;
    }
    .calculate {
      height: 225vh;
    }
  }

  footer {
    height: 155vh;
    .footer-up {
      .footer-right {
        margin-bottom: 15vh;
      }
    }
  }
}
