@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Red Hat Display", sans-serif;
  overflow-x: hidden;
}

body {
  background-color: hsl(180, 12%, 8%);
  overflow-x: hidden;
  position: relative;
}

header {
  position: fixed;
  top: 2%;
  z-index: 20;
  width: 100%;
}
header nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: hsl(180, 4%, 98%);
  padding: 1% 7%;
}
header nav .logo {
  display: flex;
  align-items: center;
}
header nav .logo img {
  width: 12%;
  height: 80%;
  margin-right: 3%;
}
header nav .logo p {
  font-size: 1.2rem;
  font-weight: 800;
}
header nav .logo p:hover {
  cursor: pointer;
}
header nav .nav-menu {
  display: flex;
  justify-content: space-between;
  width: 60%;
}
header nav .nav-menu .nav-menu-exit-button {
  all: unset;
  background-image: url("../img/output-onlinepngtools.png");
  background-size: cover;
  width: 20px;
  height: 20px;
  display: none;
}
header nav .nav-menu .nav-menu-exit-button:hover {
  cursor: pointer;
}
header nav .nav-menu ul {
  display: flex;
  width: 80%;
  gap: 15%;
}
header nav .nav-menu ul li {
  list-style-type: none;
  display: flex;
  align-items: center;
}
header nav .nav-menu ul li a {
  text-decoration: none;
  color: hsl(180, 4%, 98%);
}
header nav .nav-menu ul li a:hover {
  color: hsl(79, 72%, 55%);
  transition: ease-out 0.15s;
}
header nav .nav-menu .register-button {
  all: unset;
  color: black;
  font-weight: 800;
  text-align: center;
  padding: 0.9rem;
  width: 8.2rem;
  border-radius: 3px;
  background-color: white;
}
header nav .nav-menu .register-button:hover {
  cursor: pointer;
  transition: ease-out 0.2s;
}
header nav .nav-menu .register-button:hover {
  background-color: hsl(79, 72%, 55%);
}
header nav .nav-menu .register-button:active {
  background-color: white;
  transition-duration: 0s;
}
header nav .nav-menu-open-button {
  all: unset;
  background-image: url("../img/download.svg");
  background-size: cover;
  width: 35px;
  height: 35px;
  display: none;
  z-index: 9;
}
header nav .nav-menu-open-button:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.568);
  transition: background-color ease-out 0.2s;
  border-radius: 10px;
}
header nav .nav-menu-open-button:active {
  background-color: white;
  transition: 0s;
}

main {
  padding: 12% 7% 0 7%;
  width: 100%;
}
main .home {
  height: 90vh;
  width: 100%;
  position: relative;
}
main .home .home-left {
  width: 65%;
  height: 72%;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
main .home .home-left h1 {
  color: hsl(180, 4%, 98%);
  width: 100%;
  font-weight: 900;
  font-size: 5.8rem;
  margin-bottom: -4%;
}
main .home .home-left h1 span {
  -webkit-text-stroke: 0.05rem hsl(180, 4%, 98%);
  color: transparent;
}
main .home .home-left h1 span {
  font-size: 3.6rem;
}
main .home .home-left p {
  color: hsl(180, 4%, 72%);
  width: 60%;
  line-height: 1.5rem;
}
main .home .home-left button {
  all: unset;
  color: black;
  font-weight: 800;
  text-align: center;
  padding: 0.9rem;
  width: 8.2rem;
  border-radius: 3px;
  background-color: hsl(79, 72%, 55%);
  display: flex;
  align-items: center;
  justify-content: space-around;
}
main .home .home-left button:hover {
  cursor: pointer;
  transition: ease-out 0.2s;
}
main .home .home-left button:hover .arrow-right {
  transform: translateX(40%);
  transition: transform ease-out 0.15s;
}
main .home .home-left button:active {
  background-color: white;
  transition-duration: 0s;
}
main .home .home-right {
  width: 70%;
  height: 100%;
  position: absolute;
  right: -14%;
  bottom: 0;
}
main .home .home-right img {
  width: 88%;
  height: 100%;
  position: absolute;
  left: 11%;
}
main .home .home-right .triangle {
  background-color: hsl(79, 63%, 50%);
  width: 125%;
  height: 180%;
  position: absolute;
  z-index: -1;
  right: 0;
  bottom: 0;
  -webkit-clip-path: polygon(100% 12%, 5% 100%, 100% 100%);
          clip-path: polygon(100% 12%, 5% 100%, 100% 100%);
}

main .partner-logo {
  display: flex;
  justify-content: space-around;
  margin: 5% 0;
}
main .partner-logo img {
  width: 16%;
}

main .program h1 {
  font-family: "Kaushan Script", cursive;
  color: hsl(79, 72%, 55%);
  font-weight: 500;
  font-size: 2.4rem;
}
main .program h2 {
  color: hsl(180, 4%, 98%);
  font-size: 2.8rem;
  margin-bottom: 6%;
}
main .program h2 span {
  -webkit-text-stroke: 0.05rem hsl(180, 4%, 98%);
  color: transparent;
}

main .program {
  margin-bottom: 10%;
  height: 78vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
main .program .program-types {
  display: flex;
  justify-content: space-between;
  height: 65%;
}
main .program .program-types div {
  height: 100%;
  background-color: hsl(180, 5%, 12%);
  width: 22%;
  padding: 2.8%;
  border-radius: 3px;
  position: relative;
}
main .program .program-types div:hover {
  background-color: hsl(79, 72%, 55%);
  transition: all ease-out 0.2s;
}
main .program .program-types div:hover h3,
main .program .program-types div:hover p {
  color: hsl(180, 5%, 12%);
}
main .program .program-types div .program-image-container {
  width: 50px;
  height: 50px;
  margin-bottom: 3%;
  background-color: hsl(82, 6%, 64%);
  border-radius: 500px;
  padding: 3%;
}
main .program .program-types div .program-image-container img {
  width: 100%;
}
main .program .program-types div h3 {
  color: hsl(180, 4%, 98%);
  margin: 8% 0 10% 0;
  font-size: 1.4rem;
}
main .program .program-types div p {
  color: hsl(180, 4%, 72%);
  font-weight: 500;
}
main .program .program-types div .arrow-right-gray {
  all: unset;
  background-image: url("../img/arrow-right-gray.png");
  background-size: cover;
  width: 30px;
  height: 30px;
  position: absolute;
  right: 10%;
  bottom: 5%;
}
main .program .program-types div .arrow-right-gray:hover {
  cursor: pointer;
  transform: translateX(40%);
  transition: transform ease-out 0.15s;
}
main .program .program-types div .arrow-right-gray:active {
  background-color: hsl(180, 4%, 35%);
  transition: 0s;
  border-radius: 500px;
}

main .choose-us {
  height: 80vh;
  display: flex;
  margin-bottom: 10%;
  position: relative;
}
main .choose-us .choose-us-left {
  height: 100%;
  width: 50%;
  position: relative;
}
main .choose-us .choose-us-left img {
  height: 100%;
  position: absolute;
  left: 11%;
  z-index: 4;
}
main .choose-us .choose-us-left .triangle-second {
  background-color: hsl(79, 63%, 50%);
  -webkit-clip-path: polygon(0 0, 14% 0, 85% 100%, 0 100%);
          clip-path: polygon(0 0, 14% 0, 85% 100%, 0 100%);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
}

main .choose-us .choose-us-right {
  width: 50%;
  height: 100%;
  padding: 6% 0;
}
main .choose-us .choose-us-right h1 {
  font-family: "Kaushan Script", cursive;
  color: hsl(79, 72%, 55%);
  font-weight: 500;
}
main .choose-us .choose-us-right h2 {
  color: hsl(180, 4%, 98%);
  font-size: 3rem;
}
main .choose-us .choose-us-right h2 span {
  -webkit-text-stroke: 0.05rem hsl(180, 4%, 98%);
  color: transparent;
}
main .choose-us .choose-us-right p {
  width: 75%;
  color: hsl(180, 4%, 72%);
  font-weight: 500;
  margin: 5% 0;
}

main .choose-us .choose-us-right .achievements {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 80%;
  row-gap: 5%;
}
main .choose-us .choose-us-right .achievements div p {
  width: 100%;
}
main .choose-us .choose-us-right .achievements div p span {
  font-family: "Kaushan Script", cursive;
  font-size: 2rem;
  color: white;
}

main .calculate {
  height: 80vh;
  width: 100%;
  display: flex;
  margin-bottom: 10%;
}
main .calculate .calculate-left {
  height: 75%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 7%;
}
main .calculate .calculate-left h1 {
  color: hsl(180, 4%, 98%);
  font-size: 3rem;
}
main .calculate .calculate-left h1 span {
  -webkit-text-stroke: 0.05rem hsl(180, 4%, 98%);
  color: transparent;
}
main .calculate .calculate-left p {
  width: 70%;
  color: hsl(180, 4%, 72%);
  font-weight: 500;
}

main .calculate .calculate-left .calculator {
  width: 100%;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
main .calculate .calculate-left .calculator .calculator-container {
  width: 92%;
  display: flex;
  justify-content: space-between;
}
main .calculate .calculate-left .calculator .calculator-container .height,
main .calculate .calculate-left .calculator .calculator-container .weight {
  width: 48%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3.5%;
  border: 2px solid hsl(79, 72%, 55%);
}
main .calculate .calculate-left .calculator .calculator-container .height input,
main .calculate .calculate-left .calculator .calculator-container .weight input {
  all: unset;
  color: hsl(180, 4%, 72%);
}
main .calculate .calculate-left .calculator .calculator-container .height input::-moz-placeholder, main .calculate .calculate-left .calculator .calculator-container .weight input::-moz-placeholder {
  color: hsl(180, 4%, 72%);
  font-weight: 500;
}
main .calculate .calculate-left .calculator .calculator-container .height input::placeholder,
main .calculate .calculate-left .calculator .calculator-container .weight input::placeholder {
  color: hsl(180, 4%, 72%);
  font-weight: 500;
}
main .calculate .calculate-left .calculator .calculator-container .height label,
main .calculate .calculate-left .calculator .calculator-container .weight label {
  color: hsl(180, 4%, 98%);
}
main .calculate .calculate-left .calculator button {
  all: unset;
  width: 92%;
  background-color: hsl(79, 72%, 55%);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3.2% 0;
  font-weight: 800;
}
main .calculate .calculate-left .calculator button img {
  margin-left: 2%;
}
main .calculate .calculate-left .calculator button:hover {
  cursor: pointer;
}
main .calculate .calculate-left .calculator button:hover img {
  transform: translateX(40%);
  transition: transform ease-out 0.15s;
}

main .calculate .calculate-left .bmi-message {
  margin-top: -4%;
  opacity: 0;
  visibility: hidden;
}

main .calculate .calculate-right {
  height: 100%;
  width: 50%;
  position: relative;
}
main .calculate .calculate-right img {
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 30%;
}

footer {
  padding: 0 7% 2% 7%;
  width: 100%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
footer .footer-up {
  display: flex;
  justify-content: space-between;
  height: 70%;
}
footer .footer-up .footer-left {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
footer .footer-up .footer-left .footer-logo {
  display: flex;
  align-items: center;
}
footer .footer-up .footer-left .footer-logo img {
  width: 6%;
  margin-right: 2%;
}
footer .footer-up .footer-left .footer-logo p {
  color: hsl(180, 4%, 98%);
  font-size: 1.2rem;
  font-weight: 800;
}
footer .footer-up .footer-left p {
  color: hsl(180, 4%, 98%);
  font-weight: 500;
}
footer .footer-up .footer-left .subscribe {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: -3%;
}
footer .footer-up .footer-left .subscribe input {
  all: unset;
  color: hsl(180, 4%, 72%);
}
footer .footer-up .footer-left .subscribe input::-moz-placeholder {
  color: hsl(180, 4%, 72%);
  font-weight: 500;
}
footer .footer-up .footer-left .subscribe input::placeholder {
  color: hsl(180, 4%, 72%);
  font-weight: 500;
}
footer .footer-up .footer-left .subscribe input {
  border: 2px solid hsl(79, 72%, 55%);
  padding: 4%;
  width: 55%;
}
footer .footer-up .footer-left .subscribe input:active {
  background-color: hsl(180, 12%, 8%);
}
footer .footer-up .footer-left .subscribe button {
  all: unset;
  color: black;
  font-weight: 800;
  text-align: center;
  padding: 4%;
  background-color: hsl(79, 72%, 55%);
  width: 23%;
}
footer .footer-up .footer-left .subscribe button:hover {
  cursor: pointer;
}
footer .footer-up .footer-left .subscribe button:active {
  background-color: hsl(180, 4%, 98%);
}
footer .footer-up .footer-left .subscribe-message {
  color: hsl(79, 72%, 55%);
  visibility: hidden;
  opacity: 0;
}

footer .footer-up .footer-right {
  width: 40%;
  height: 26vh;
  display: flex;
  justify-content: space-between;
}
footer .footer-up .footer-right .services-links,
footer .footer-up .footer-right .pricing-links,
footer .footer-up .footer-right .company-links {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
footer .footer-up .footer-right .services-links h2,
footer .footer-up .footer-right .pricing-links h2,
footer .footer-up .footer-right .company-links h2 {
  color: hsl(180, 4%, 98%);
  font-size: 1.3rem;
}
footer .footer-up .footer-right .services-links ul,
footer .footer-up .footer-right .pricing-links ul,
footer .footer-up .footer-right .company-links ul {
  height: 70%;
  display: flex;
  flex-direction: column;
}
footer .footer-up .footer-right .services-links ul li,
footer .footer-up .footer-right .pricing-links ul li,
footer .footer-up .footer-right .company-links ul li {
  list-style-type: none;
  margin-bottom: 8%;
}
footer .footer-up .footer-right .services-links ul li a,
footer .footer-up .footer-right .pricing-links ul li a,
footer .footer-up .footer-right .company-links ul li a {
  text-decoration: none;
  color: hsl(180, 4%, 72%);
  font-weight: 500;
}
footer .footer-up .footer-right .services-links ul li a:hover,
footer .footer-up .footer-right .pricing-links ul li a:hover,
footer .footer-up .footer-right .company-links ul li a:hover {
  color: hsl(79, 72%, 55%);
}

footer .footer-down {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .footer-down p {
  color: hsl(180, 4%, 72%);
  font-weight: 500;
}
footer .footer-down .social-network {
  display: flex;
  width: 12%;
  display: flex;
  justify-content: space-between;
}
footer .footer-down .social-network .social-network-logo-container {
  all: unset;
  width: 20px;
  height: 20px;
  padding: 3%;
  background-color: hsl(79, 72%, 55%);
  border-radius: 500px;
}
footer .footer-down .social-network .social-network-logo-container img {
  width: 100%;
}

.pricing-page {
  padding: 3% 7%;
}
.pricing-page h1 {
  font-family: "Kaushan Script", cursive;
  color: hsl(79, 72%, 55%);
  font-weight: 500;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 0.5%;
}
.pricing-page h2 {
  color: hsl(180, 4%, 98%);
  text-align: center;
  font-size: 2.8rem;
  margin-bottom: 8%;
}
.pricing-page h2 span {
  -webkit-text-stroke: 0.05rem hsl(180, 4%, 98%);
  color: transparent;
}

.pricing-page .packages {
  display: flex;
  justify-content: space-around;
  height: 80vh;
}
.pricing-page .packages .basic {
  width: 28%;
  padding: 3% 4%;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: hsl(180, 5%, 12%);
}
@media only screen and (max-width: 1140px) {
  .pricing-page .packages .basic {
    height: 31%;
    width: 38%;
  }
}
@media only screen and (max-width: 980px) {
  .pricing-page .packages .basic {
    width: 45%;
  }
}
@media only screen and (max-width: 850px) {
  .pricing-page .packages .basic {
    width: 52%;
    padding: 5% 7%;
  }
}
@media only screen and (max-width: 750px) {
  .pricing-page .packages .basic {
    width: 60%;
  }
}
@media only screen and (max-width: 530px) {
  .pricing-page .packages .basic {
    width: 70%;
  }
}
@media only screen and (max-width: 470px) {
  .pricing-page .packages .basic {
    width: 76%;
  }
}
@media only screen and (max-width: 400px) {
  .pricing-page .packages .basic {
    width: 83%;
    padding: 8% 9%;
  }
}
@media only screen and (max-width: 350px) {
  .pricing-page .packages .basic {
    height: 29%;
  }
}
.pricing-page .packages .basic .pricing-image-container {
  width: 50px;
  height: 50px;
  background-color: hsl(82, 6%, 64%);
  padding: 4.5%;
  border-radius: 500px;
}
@media only screen and (max-width: 1140px) {
  .pricing-page .packages .basic .pricing-image-container {
    padding: 2.6%;
  }
}
@media only screen and (max-width: 400px) {
  .pricing-page .packages .basic .pricing-image-container {
    padding: 4%;
  }
}
.pricing-page .packages .basic .pricing-image-container img {
  width: 100%;
}
.pricing-page .packages .basic h3 {
  font-size: 1.3rem;
}
@media only screen and (max-width: 320px) {
  .pricing-page .packages .basic h3 {
    font-size: 1.1rem;
  }
}
.pricing-page .packages .basic .price {
  font-size: 2rem;
  font-weight: 700;
}
@media only screen and (max-width: 320px) {
  .pricing-page .packages .basic .price {
    font-size: 1.6rem;
  }
}
.pricing-page .packages .basic .offer {
  margin: 10% 0 5% 0;
}
@media only screen and (max-width: 470px) {
  .pricing-page .packages .basic .offer {
    margin: 6% 0 2% 0;
  }
}
.pricing-page .packages .basic .offer p {
  background-position: left;
  background-repeat: no-repeat;
  background-size: 20px;
  padding-left: 13%;
  margin-bottom: 6%;
  font-weight: 500;
}
@media only screen and (max-width: 470px) {
  .pricing-page .packages .basic .offer p {
    font-size: 0.9rem;
  }
}
@media only screen and (max-width: 400px) {
  .pricing-page .packages .basic .offer p {
    margin-bottom: 4%;
  }
}
.pricing-page .packages .basic button {
  all: unset;
  width: 100%;
  background-color: hsl(180, 4%, 98%);
  display: flex;
  align-items: center;
  justify-content: center;
  color: hsl(180, 5%, 12%);
  height: 15%;
  font-size: 1rem;
  font-weight: 700;
  gap: 5%;
  border-radius: 3px;
}
.pricing-page .packages .basic button img {
  width: 10%;
}
.pricing-page .packages .basic button:hover {
  cursor: pointer;
}
.pricing-page .packages .basic button:hover img {
  transform: translateX(50%);
  transition: transform ease-out 0.15s;
}
@media only screen and (max-width: 800px) {
  .pricing-page .packages .basic button:hover img {
    transform: unset;
    transition: unset;
  }
}
.pricing-page .packages .basic button:active {
  background-color: hsl(79, 72%, 55%);
  transition-duration: 0s;
}
@media only screen and (max-width: 800px) {
  .pricing-page .packages .basic button:active img {
    transform: translateX(50%);
  }
}
.pricing-page .packages .basic h3 {
  color: hsl(82, 6%, 64%);
}
.pricing-page .packages .basic .price {
  color: hsl(180, 4%, 98%);
}
.pricing-page .packages .basic .offer p {
  color: hsl(82, 6%, 64%);
  background-image: url("../img/checkmark-in-circle.png");
}
.pricing-page .packages .basic .offer p:nth-child(3),
.pricing-page .packages .basic .offer p:nth-child(4),
.pricing-page .packages .basic .offer p:nth-child(5) {
  opacity: 0.2;
}
.pricing-page .packages .premium {
  width: 28%;
  padding: 3% 4%;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: hsl(79, 72%, 55%);
}
@media only screen and (max-width: 1140px) {
  .pricing-page .packages .premium {
    height: 31%;
    width: 38%;
  }
}
@media only screen and (max-width: 980px) {
  .pricing-page .packages .premium {
    width: 45%;
  }
}
@media only screen and (max-width: 850px) {
  .pricing-page .packages .premium {
    width: 52%;
    padding: 5% 7%;
  }
}
@media only screen and (max-width: 750px) {
  .pricing-page .packages .premium {
    width: 60%;
  }
}
@media only screen and (max-width: 530px) {
  .pricing-page .packages .premium {
    width: 70%;
  }
}
@media only screen and (max-width: 470px) {
  .pricing-page .packages .premium {
    width: 76%;
  }
}
@media only screen and (max-width: 400px) {
  .pricing-page .packages .premium {
    width: 83%;
    padding: 8% 9%;
  }
}
@media only screen and (max-width: 350px) {
  .pricing-page .packages .premium {
    height: 29%;
  }
}
.pricing-page .packages .premium .pricing-image-container {
  width: 50px;
  height: 50px;
  background-color: hsl(82, 6%, 64%);
  padding: 4.5%;
  border-radius: 500px;
}
@media only screen and (max-width: 1140px) {
  .pricing-page .packages .premium .pricing-image-container {
    padding: 2.6%;
  }
}
@media only screen and (max-width: 400px) {
  .pricing-page .packages .premium .pricing-image-container {
    padding: 4%;
  }
}
.pricing-page .packages .premium .pricing-image-container img {
  width: 100%;
}
.pricing-page .packages .premium h3 {
  font-size: 1.3rem;
}
@media only screen and (max-width: 320px) {
  .pricing-page .packages .premium h3 {
    font-size: 1.1rem;
  }
}
.pricing-page .packages .premium .price {
  font-size: 2rem;
  font-weight: 700;
}
@media only screen and (max-width: 320px) {
  .pricing-page .packages .premium .price {
    font-size: 1.6rem;
  }
}
.pricing-page .packages .premium .offer {
  margin: 10% 0 5% 0;
}
@media only screen and (max-width: 470px) {
  .pricing-page .packages .premium .offer {
    margin: 6% 0 2% 0;
  }
}
.pricing-page .packages .premium .offer p {
  background-position: left;
  background-repeat: no-repeat;
  background-size: 20px;
  padding-left: 13%;
  margin-bottom: 6%;
  font-weight: 500;
}
@media only screen and (max-width: 470px) {
  .pricing-page .packages .premium .offer p {
    font-size: 0.9rem;
  }
}
@media only screen and (max-width: 400px) {
  .pricing-page .packages .premium .offer p {
    margin-bottom: 4%;
  }
}
.pricing-page .packages .premium button {
  all: unset;
  width: 100%;
  background-color: hsl(180, 4%, 98%);
  display: flex;
  align-items: center;
  justify-content: center;
  color: hsl(180, 5%, 12%);
  height: 15%;
  font-size: 1rem;
  font-weight: 700;
  gap: 5%;
  border-radius: 3px;
}
.pricing-page .packages .premium button img {
  width: 10%;
}
.pricing-page .packages .premium button:hover {
  cursor: pointer;
}
.pricing-page .packages .premium button:hover img {
  transform: translateX(50%);
  transition: transform ease-out 0.15s;
}
@media only screen and (max-width: 800px) {
  .pricing-page .packages .premium button:hover img {
    transform: unset;
    transition: unset;
  }
}
.pricing-page .packages .premium button:active {
  background-color: hsl(79, 72%, 55%);
  transition-duration: 0s;
}
@media only screen and (max-width: 800px) {
  .pricing-page .packages .premium button:active img {
    transform: translateX(50%);
  }
}
.pricing-page .packages .premium h3,
.pricing-page .packages .premium .price,
.pricing-page .packages .premium p {
  color: hsl(180, 5%, 12%);
}
.pricing-page .packages .premium .offer p {
  background-image: url("../img/checkmark-in-circle-2.png");
}
.pricing-page .packages .premium .offer p:nth-child(4),
.pricing-page .packages .premium .offer p:nth-child(5) {
  opacity: 0.3;
}
.pricing-page .packages .diamond {
  width: 28%;
  padding: 3% 4%;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: hsl(180, 5%, 12%);
}
@media only screen and (max-width: 1140px) {
  .pricing-page .packages .diamond {
    height: 31%;
    width: 38%;
  }
}
@media only screen and (max-width: 980px) {
  .pricing-page .packages .diamond {
    width: 45%;
  }
}
@media only screen and (max-width: 850px) {
  .pricing-page .packages .diamond {
    width: 52%;
    padding: 5% 7%;
  }
}
@media only screen and (max-width: 750px) {
  .pricing-page .packages .diamond {
    width: 60%;
  }
}
@media only screen and (max-width: 530px) {
  .pricing-page .packages .diamond {
    width: 70%;
  }
}
@media only screen and (max-width: 470px) {
  .pricing-page .packages .diamond {
    width: 76%;
  }
}
@media only screen and (max-width: 400px) {
  .pricing-page .packages .diamond {
    width: 83%;
    padding: 8% 9%;
  }
}
@media only screen and (max-width: 350px) {
  .pricing-page .packages .diamond {
    height: 29%;
  }
}
.pricing-page .packages .diamond .pricing-image-container {
  width: 50px;
  height: 50px;
  background-color: hsl(82, 6%, 64%);
  padding: 4.5%;
  border-radius: 500px;
}
@media only screen and (max-width: 1140px) {
  .pricing-page .packages .diamond .pricing-image-container {
    padding: 2.6%;
  }
}
@media only screen and (max-width: 400px) {
  .pricing-page .packages .diamond .pricing-image-container {
    padding: 4%;
  }
}
.pricing-page .packages .diamond .pricing-image-container img {
  width: 100%;
}
.pricing-page .packages .diamond h3 {
  font-size: 1.3rem;
}
@media only screen and (max-width: 320px) {
  .pricing-page .packages .diamond h3 {
    font-size: 1.1rem;
  }
}
.pricing-page .packages .diamond .price {
  font-size: 2rem;
  font-weight: 700;
}
@media only screen and (max-width: 320px) {
  .pricing-page .packages .diamond .price {
    font-size: 1.6rem;
  }
}
.pricing-page .packages .diamond .offer {
  margin: 10% 0 5% 0;
}
@media only screen and (max-width: 470px) {
  .pricing-page .packages .diamond .offer {
    margin: 6% 0 2% 0;
  }
}
.pricing-page .packages .diamond .offer p {
  background-position: left;
  background-repeat: no-repeat;
  background-size: 20px;
  padding-left: 13%;
  margin-bottom: 6%;
  font-weight: 500;
}
@media only screen and (max-width: 470px) {
  .pricing-page .packages .diamond .offer p {
    font-size: 0.9rem;
  }
}
@media only screen and (max-width: 400px) {
  .pricing-page .packages .diamond .offer p {
    margin-bottom: 4%;
  }
}
.pricing-page .packages .diamond button {
  all: unset;
  width: 100%;
  background-color: hsl(180, 4%, 98%);
  display: flex;
  align-items: center;
  justify-content: center;
  color: hsl(180, 5%, 12%);
  height: 15%;
  font-size: 1rem;
  font-weight: 700;
  gap: 5%;
  border-radius: 3px;
}
.pricing-page .packages .diamond button img {
  width: 10%;
}
.pricing-page .packages .diamond button:hover {
  cursor: pointer;
}
.pricing-page .packages .diamond button:hover img {
  transform: translateX(50%);
  transition: transform ease-out 0.15s;
}
@media only screen and (max-width: 800px) {
  .pricing-page .packages .diamond button:hover img {
    transform: unset;
    transition: unset;
  }
}
.pricing-page .packages .diamond button:active {
  background-color: hsl(79, 72%, 55%);
  transition-duration: 0s;
}
@media only screen and (max-width: 800px) {
  .pricing-page .packages .diamond button:active img {
    transform: translateX(50%);
  }
}
.pricing-page .packages .diamond h3 {
  color: hsl(82, 6%, 64%);
}
.pricing-page .packages .diamond .price {
  color: hsl(180, 4%, 98%);
}
.pricing-page .packages .diamond .offer p {
  color: hsl(82, 6%, 64%);
  background-image: url("../img/checkmark-in-circle.png");
}

@media only screen and (max-width: 1280px) {
  header nav .nav-menu ul {
    gap: 13%;
  }
  main .home {
    height: 85vh;
  }
  main .home .home-left h1 {
    font-size: 4.5rem;
  }
  main .home .home-left h1 span {
    font-size: 2.7rem;
  }
  main .program {
    margin-bottom: 12%;
  }
  main .choose-us {
    justify-content: space-between;
  }
  main .choose-us .choose-us-left .triangle-second {
    width: 130%;
  }
  main .choose-us .choose-us-right {
    width: 40%;
    margin-right: 5%;
    padding: 3% 0 0 0;
  }
  main .choose-us .choose-us-right p {
    width: 100%;
  }
  main .choose-us .choose-us-right .achievements {
    width: 100%;
  }
}
@media only screen and (max-width: 1181px) {
  header nav .nav-menu {
    width: 55%;
  }
  header nav .nav-menu ul {
    gap: 12%;
  }
  header nav .nav-menu .register-button {
    width: 7rem;
  }
  main .home {
    height: 75vh;
  }
  main .home .home-left h1 {
    font-size: 3.8rem;
  }
  main .home .home-left h1 span {
    font-size: 2.2rem;
  }
  main .home .home-left button {
    width: 7.7rem;
  }
  main .home .home-right img {
    width: 85%;
    position: absolute;
    left: 14%;
  }
}
@media only screen and (max-width: 1140px) {
  header nav .nav-menu ul {
    gap: 10%;
  }
  main .home {
    height: 68vh;
  }
  main .choose-us .choose-us-right {
    margin-right: 2%;
  }
  main .choose-us .choose-us-right h2 {
    font-size: 2.8rem;
  }
  main .choose-us .choose-us-right p {
    margin: 3% 0;
  }
  .pricing-page .packages {
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    height: 270vh;
    gap: 5%;
  }
}
@media only screen and (max-width: 1050px) {
  header nav .nav-menu {
    height: 110%;
    position: fixed;
    top: -1%;
    right: -1%;
    z-index: 10;
    background-color: hsl(180, 12%, 8%);
    border-left: white 2px solid;
    flex-direction: column;
    justify-content: flex-start;
    padding: 12% 0 0 5%;
    width: 55%;
    opacity: 0;
    visibility: hidden;
  }
  header nav .nav-menu .nav-menu-exit-button {
    display: inline-block;
    position: fixed;
    right: 5%;
    top: 6%;
  }
  header nav .nav-menu ul {
    flex-direction: column;
    height: 40%;
    justify-content: space-between;
    margin-bottom: 10%;
  }
  header nav .nav-menu-open-button {
    display: inline-block;
  }
  main .home {
    height: 62vh;
  }
  main .home .home-left h1 {
    font-size: 3.2rem;
  }
  main .home .home-left h1 span {
    font-size: 1.9rem;
  }
  main .home .home-right .triangle {
    width: 105%;
    height: 160%;
  }
  main .partner-logo img {
    width: 20%;
  }
  main .program {
    height: 140vh;
  }
  main .program .program-types {
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-between;
    height: 80%;
    width: 80%;
  }
  main .program .program-types div {
    width: 38%;
    height: 45%;
    padding: 4%;
  }
  main .program {
    margin-bottom: 14%;
  }
  main .choose-us {
    height: 75vh;
  }
}
@media only screen and (max-width: 980px) {
  main .home .home-left p {
    width: 70%;
  }
}
@media only screen and (max-width: 930px) {
  header nav .nav-menu {
    padding-top: 14%;
  }
  main .home {
    height: 55vh;
  }
  main .home .home-left {
    height: 80%;
  }
  main .home .home-left h1 {
    margin-bottom: -2%;
  }
  main .program .program-types {
    width: 90%;
  }
  main .program {
    margin-bottom: 16%;
  }
  main .choose-us {
    height: 70vh;
  }
  main .choose-us .choose-us-left img {
    left: 8%;
  }
  main .choose-us .choose-us-right h1 {
    font-size: 1.8rem;
  }
  main .choose-us .choose-us-right h2 {
    font-size: 2.5rem;
  }
  main .choose-us .choose-us-right p {
    margin: 2% 0;
  }
  .pricing-page {
    padding: 6% 7%;
  }
}
@media only screen and (max-width: 850px) {
  main .home {
    height: 50vh;
  }
  main .home .home-left h1 {
    font-size: 2.7rem;
  }
  main .home .home-left h1 span {
    font-size: 1.6rem;
  }
  main .home .home-left p {
    width: 77%;
  }
  main .choose-us {
    height: 68vh;
  }
  main .choose-us .choose-us-right h1 {
    font-size: 1.7rem;
  }
  main .choose-us .choose-us-right h2 {
    font-size: 2.3rem;
  }
}
@media only screen and (max-width: 800px) {
  header nav .nav-menu {
    width: 65%;
    padding-top: 17%;
  }
  header nav .nav-menu-open-button:hover {
    background-color: unset;
    transition: unset;
    border-radius: unset;
  }
  header nav .nav-menu-open-button:active {
    background-color: rgba(255, 255, 255, 0.568);
    border-radius: 10px;
  }
  main {
    padding-top: 16%;
  }
  main .home {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 105vh;
  }
  main .home .home-left {
    width: 100%;
    z-index: unset;
    align-items: center;
    text-align: center;
    height: 40%;
  }
  main .home .home-left h1 {
    font-size: 2.8rem;
  }
  main .home .home-left p {
    width: 100%;
  }
  main .home .home-left button:hover .arrow-right {
    transform: unset;
    transition: unset;
  }
  main .home .home-left button:active .arrow-right {
    transform: translateX(40%);
    transition: transform ease-out 0.1s;
  }
  main .home .home-right {
    position: inherit;
    width: 100%;
    height: 50%;
    right: 0;
    text-align: center;
  }
  main .home .home-right img {
    width: 60%;
    position: unset;
  }
  main .home .home-right .triangle {
    width: 140%;
    height: 100%;
    right: -10%;
    -webkit-clip-path: polygon(100% 0, 28% 100%, 100% 100%);
            clip-path: polygon(100% 0, 28% 100%, 100% 100%);
  }
  main .partner-logo {
    flex-wrap: wrap;
    -moz-column-gap: 14%;
         column-gap: 14%;
    row-gap: 3vh;
    margin-bottom: 10%;
  }
  main .partner-logo img {
    width: 25%;
  }
  main .program .program-types {
    width: 100%;
  }
  main .program .program-types div .arrow-right-gray {
    background-image: url("../img/arrow-right-white.png");
  }
  main .program .program-types div .arrow-right-gray:hover {
    transform: unset;
    transition: unset;
  }
  main .program .program-types div .arrow-right-gray:active {
    background-color: unset;
    transition: 0s;
    border-radius: 500px;
    transform: translateX(40%);
  }
  main .choose-us {
    flex-direction: column-reverse;
    height: 140vh;
    align-items: center;
  }
  main .choose-us .choose-us-left {
    width: 100%;
    height: 42%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  main .choose-us .choose-us-left img {
    position: unset;
    left: unset;
  }
  main .choose-us .choose-us-left .triangle-second {
    -webkit-clip-path: polygon(0 0, 0% 100%, 100% 100%);
            clip-path: polygon(0 0, 0% 100%, 100% 100%);
    width: 110%;
    height: 90%;
    left: -10%;
  }
  main .choose-us .choose-us-right {
    text-align: center;
    width: 100%;
    padding: 0;
    margin-right: 0;
  }
  main .choose-us .choose-us-right h1 {
    margin-bottom: 1%;
    font-size: 2.4rem;
  }
  main .choose-us .choose-us-right h2 {
    margin-bottom: 7%;
    font-size: 2.8rem;
  }
  main .choose-us .choose-us-right p {
    margin-bottom: 7%;
  }
}
@media only screen and (max-width: 750px) {
  main .home {
    height: 100vh;
  }
  main .home .home-left h1 {
    font-size: 2.6rem;
  }
  main .home .home-left h1 span {
    font-size: 1.3rem;
  }
  main .program {
    height: 130vh;
  }
  main .program h1 {
    font-size: 2rem;
  }
  main .program h2 {
    font-size: 2.2rem;
    margin-bottom: 8%;
  }
  main .program .program-types {
    height: 84%;
  }
  main .program {
    margin-bottom: 18%;
  }
}
@media only screen and (max-width: 680px) {
  header nav .nav-menu {
    padding-top: 20%;
    width: 75%;
  }
  header nav .nav-menu .nav-menu-exit-button {
    right: 7%;
  }
  main {
    padding-top: 19%;
  }
  main .home .home-left h1 {
    margin-bottom: 3%;
  }
  main .home .home-left p {
    margin-bottom: 8%;
  }
  main .home .home-right img {
    width: 70%;
  }
  main .program {
    height: 240vh;
  }
  main .program .program-types {
    flex-direction: column;
    justify-content: space-between;
    height: 90%;
    width: 45%;
  }
  main .program .program-types div {
    width: 100%;
    height: 23%;
    padding: 10%;
  }
  main .choose-us {
    height: 130vh;
  }
  main .choose-us .choose-us-right h1 {
    margin-bottom: 0;
  }
}
@media only screen and (max-width: 600px) {
  header nav .nav-menu {
    padding: 23% 0 0 8%;
  }
  header nav .nav-menu ul {
    margin-bottom: 13%;
    height: 35%;
  }
  main .home {
    margin-bottom: 8%;
  }
  main .home .home-right img {
    width: 80%;
  }
  main .partner-logo {
    margin-bottom: 15%;
  }
  main .partner-logo img {
    width: 30%;
  }
  main .program {
    height: 230vh;
  }
  main .program h1 {
    font-size: 1.7rem;
  }
  main .program h2 {
    font-size: 1.9rem;
    margin-bottom: 11%;
  }
  main .program .program-types {
    width: 53%;
  }
  main .program {
    margin-bottom: 22%;
  }
  main .choose-us {
    height: 120vh;
  }
  .pricing-page {
    padding: 8% 0;
  }
  .pricing-page h1 {
    font-size: 1.8rem;
    margin-bottom: 1%;
  }
  .pricing-page h2 {
    font-size: 2.4rem;
    margin-bottom: 10%;
  }
}
@media only screen and (max-width: 530px) {
  main .home .home-right img {
    width: 95%;
  }
  main .program {
    height: 220vh;
  }
  main .program .program-types {
    width: 60%;
  }
  main .choose-us {
    height: 130vh;
  }
  main .choose-us .choose-us-right h1 {
    font-size: 2rem;
  }
  main .choose-us .choose-us-right h2 {
    margin-bottom: 10%;
    font-size: 2.4rem;
  }
  main .choose-us .choose-us-right p {
    margin-bottom: 10%;
  }
  main .choose-us .choose-us-left {
    height: 45%;
  }
}
@media only screen and (max-width: 470px) {
  header nav .nav-menu {
    width: 90%;
    padding: 25% 0 0 9%;
  }
  header nav .nav-menu .nav-menu-exit-button {
    right: 10%;
  }
  header nav .nav-menu ul {
    height: 30%;
  }
  main {
    padding-top: 24%;
  }
  main .home {
    margin-bottom: 11%;
  }
  main .home .home-left h1 {
    font-size: 2rem;
  }
  main .home .home-right img {
    width: 100%;
  }
  main .partner-logo img {
    width: 35%;
  }
  main .program h1 {
    font-size: 1.6rem;
  }
  main .program h2 {
    font-size: 1.6rem;
  }
  main .program .program-types {
    width: 65%;
  }
  main .program {
    margin-bottom: 26%;
  }
  main .choose-us {
    height: 110vh;
  }
  main .choose-us .choose-us-right h1 {
    font-size: 1.6rem;
  }
  main .choose-us .choose-us-right h2 {
    font-size: 1.9rem;
  }
  main .choose-us .choose-us-right p {
    font-size: 0.9rem;
  }
  main .choose-us .choose-us-right .achievements div p span {
    font-size: 1.6rem;
  }
  .pricing-page h1 {
    font-size: 1.6rem;
  }
  .pricing-page h2 {
    font-size: 2rem;
    margin-bottom: 13%;
  }
  .pricing-page .packages {
    height: 235vh;
  }
}
@media only screen and (max-width: 400px) {
  header nav .nav-menu {
    padding-top: 30%;
  }
  header nav .nav-menu .register-button {
    font-size: 0.9rem;
    width: 6rem;
  }
  main .home {
    height: 93vh;
    margin-bottom: 13%;
  }
  main .home .home-left {
    height: 42%;
  }
  main .home .home-left p {
    font-size: 0.9rem;
  }
  main .home .home-left button {
    width: 7rem;
    font-size: 0.9rem;
  }
  main .partner-logo {
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    row-gap: 2.3vh;
  }
  main .partner-logo img {
    width: 40%;
  }
  main .program h2 {
    margin-top: 5%;
    margin-bottom: 16%;
    font-size: 2.3rem;
    text-align: center;
  }
  main .program h2 span {
    display: block;
    font-size: 1.4rem;
  }
  main .program .program-types {
    width: 75%;
  }
  main .program .program-types div h3 {
    font-size: 1.2rem;
    margin-bottom: 5%;
  }
  main .program .program-types div p {
    font-size: 0.9rem;
  }
  main .program {
    margin-bottom: 30%;
  }
  .pricing-page h2 {
    font-size: 1.7rem;
  }
  .pricing-page .packages {
    height: 225vh;
    gap: 3.5%;
  }
}
@media only screen and (max-width: 350px) {
  header nav .logo {
    width: 70%;
  }
  main {
    padding-top: 27%;
  }
  main .home {
    height: 88vh;
    margin-bottom: 15%;
  }
  main .home .home-left p {
    line-height: 1.2rem;
  }
  main .partner-logo img {
    width: 45%;
  }
  main .program {
    height: 205vh;
  }
  main .program .program-types {
    width: 80%;
  }
  main .program {
    margin-bottom: 35%;
  }
  main .choose-us .choose-us-right h1 {
    font-size: 1.4rem;
  }
  main .choose-us .choose-us-right h2 {
    font-size: 1.6rem;
  }
  main .choose-us .choose-us-left {
    height: 48%;
  }
  .pricing-page h2 {
    margin-bottom: 17%;
  }
  .pricing-page .packages {
    height: 215vh;
  }
}
@media only screen and (max-width: 320px) {
  header nav .nav-menu {
    padding: 35% 0 0 11%;
  }
  header nav .nav-menu ul {
    margin-bottom: 22%;
    height: 27%;
  }
  header nav .nav-menu .register-button {
    padding: 0.5rem;
  }
  main .home {
    height: 84vh;
  }
  main .home .home-left h1 {
    font-size: 1.8rem;
    margin-top: 3%;
  }
  main .home .home-left p {
    font-size: 0.8rem;
  }
  main .program .program-types {
    width: 85%;
  }
  .pricing-page .packages {
    height: 195vh;
  }
}
@media only screen and (max-width: 300px) {
  main .home {
    height: 81vh;
  }
  main .home .home-left h1 span {
    font-size: 1.05rem;
  }
  .pricing-page h1 {
    font-size: 1.3rem;
  }
  .pricing-page h2 {
    font-size: 1.45rem;
  }
}/*# sourceMappingURL=style.css.map */